// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import * as environments from "../../../../environments.js";
import * as core from "../../../../core/index.js";
import * as FernRegistry from "../../../index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";

export declare namespace Templates {
    export interface Options extends BaseClientOptions {}

    export interface RequestOptions extends BaseRequestOptions {}
}

export class Templates {
    protected readonly _options: Templates.Options;

    constructor(_options: Templates.Options = {}) {
        this._options = _options;
    }

    /**
     * Store endpoint snippet for a particular SDK.
     *
     * @param {FernRegistry.RegisterSnippetTemplateRequest} request
     * @param {Templates.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.templates.register({
     *         orgId: FernRegistry.OrgId("orgId"),
     *         apiId: FernRegistry.ApiId("apiId"),
     *         apiDefinitionId: FernRegistry.ApiDefinitionId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"),
     *         snippet: {
     *             sdk: {
     *                 type: "typescript",
     *                 "package": "package",
     *                 version: "version"
     *             },
     *             endpointId: {
     *                 path: FernRegistry.EndpointPathLiteral("path"),
     *                 method: "GET",
     *                 identifierOverride: undefined
     *             },
     *             snippetTemplate: {
     *                 type: "v1",
     *                 clientInstantiation: "clientInstantiation",
     *                 functionInvocation: {
     *                     type: "generic",
     *                     imports: undefined,
     *                     isOptional: true,
     *                     templateString: "templateString",
     *                     templateInputs: undefined,
     *                     inputDelimiter: undefined
     *                 }
     *             },
     *             additionalTemplates: undefined
     *         }
     *     })
     */
    public register(
        request: FernRegistry.RegisterSnippetTemplateRequest,
        requestOptions?: Templates.RequestOptions,
    ): core.HttpResponsePromise<core.APIResponse<void, FernRegistry.templates.register.Error>> {
        return core.HttpResponsePromise.fromPromise(this.__register(request, requestOptions));
    }

    private async __register(
        request: FernRegistry.RegisterSnippetTemplateRequest,
        requestOptions?: Templates.RequestOptions,
    ): Promise<core.WithRawResponse<core.APIResponse<void, FernRegistry.templates.register.Error>>> {
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernRegistryEnvironment.Prod,
                "/snippet-template/register",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs:
                requestOptions?.timeoutInSeconds != null
                    ? requestOptions.timeoutInSeconds * 1000
                    : this._options?.timeoutInSeconds != null
                      ? this._options?.timeoutInSeconds * 1000
                      : undefined,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: undefined,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        return {
            data: {
                ok: false,
                error: FernRegistry.templates.register.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Store endpoint snippets for a particular SDK.
     *
     * @param {FernRegistry.RegisterSnippetTemplateBatchRequest} request
     * @param {Templates.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.templates.registerBatch({
     *         orgId: FernRegistry.OrgId("orgId"),
     *         apiId: FernRegistry.ApiId("apiId"),
     *         apiDefinitionId: FernRegistry.ApiDefinitionId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"),
     *         snippets: [{
     *                 sdk: {
     *                     type: "typescript",
     *                     "package": "package",
     *                     version: "version"
     *                 },
     *                 endpointId: {
     *                     path: FernRegistry.EndpointPathLiteral("path"),
     *                     method: "GET",
     *                     identifierOverride: undefined
     *                 },
     *                 snippetTemplate: {
     *                     type: "v1",
     *                     clientInstantiation: "clientInstantiation",
     *                     functionInvocation: {
     *                         type: "generic",
     *                         imports: undefined,
     *                         isOptional: true,
     *                         templateString: "templateString",
     *                         templateInputs: undefined,
     *                         inputDelimiter: undefined
     *                     }
     *                 },
     *                 additionalTemplates: undefined
     *             }, {
     *                 sdk: {
     *                     type: "typescript",
     *                     "package": "package",
     *                     version: "version"
     *                 },
     *                 endpointId: {
     *                     path: FernRegistry.EndpointPathLiteral("path"),
     *                     method: "GET",
     *                     identifierOverride: undefined
     *                 },
     *                 snippetTemplate: {
     *                     type: "v1",
     *                     clientInstantiation: "clientInstantiation",
     *                     functionInvocation: {
     *                         type: "generic",
     *                         imports: undefined,
     *                         isOptional: true,
     *                         templateString: "templateString",
     *                         templateInputs: undefined,
     *                         inputDelimiter: undefined
     *                     }
     *                 },
     *                 additionalTemplates: undefined
     *             }]
     *     })
     */
    public registerBatch(
        request: FernRegistry.RegisterSnippetTemplateBatchRequest,
        requestOptions?: Templates.RequestOptions,
    ): core.HttpResponsePromise<core.APIResponse<void, FernRegistry.templates.registerBatch.Error>> {
        return core.HttpResponsePromise.fromPromise(this.__registerBatch(request, requestOptions));
    }

    private async __registerBatch(
        request: FernRegistry.RegisterSnippetTemplateBatchRequest,
        requestOptions?: Templates.RequestOptions,
    ): Promise<core.WithRawResponse<core.APIResponse<void, FernRegistry.templates.registerBatch.Error>>> {
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernRegistryEnvironment.Prod,
                "/snippet-template/register/batch",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs:
                requestOptions?.timeoutInSeconds != null
                    ? requestOptions.timeoutInSeconds * 1000
                    : this._options?.timeoutInSeconds != null
                      ? this._options?.timeoutInSeconds * 1000
                      : undefined,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: undefined,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        return {
            data: {
                ok: false,
                error: FernRegistry.templates.registerBatch.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Get the endpoint's snippet template for a particular SDK.
     *
     * @param {FernRegistry.GetSnippetTemplate} request
     * @param {Templates.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.templates.get({
     *         orgId: FernRegistry.OrgId("orgId"),
     *         apiId: FernRegistry.ApiId("apiId"),
     *         sdk: {
     *             type: "typescript",
     *             "package": "package",
     *             version: undefined
     *         },
     *         endpointId: {
     *             path: FernRegistry.EndpointPathLiteral("path"),
     *             method: "GET",
     *             identifierOverride: undefined
     *         }
     *     })
     */
    public get(
        request: FernRegistry.GetSnippetTemplate,
        requestOptions?: Templates.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<FernRegistry.EndpointSnippetTemplate, FernRegistry.templates.get.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: FernRegistry.GetSnippetTemplate,
        requestOptions?: Templates.RequestOptions,
    ): Promise<
        core.WithRawResponse<core.APIResponse<FernRegistry.EndpointSnippetTemplate, FernRegistry.templates.get.Error>>
    > {
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernRegistryEnvironment.Prod,
                "/snippet-template/get",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs:
                requestOptions?.timeoutInSeconds != null
                    ? requestOptions.timeoutInSeconds * 1000
                    : this._options?.timeoutInSeconds != null
                      ? this._options?.timeoutInSeconds * 1000
                      : undefined,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: _response.body as FernRegistry.EndpointSnippetTemplate,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as FernRegistry.templates.get.Error)?.error) {
                case "UnauthorizedError":
                case "SnippetNotFound":
                    return {
                        data: {
                            ok: false,
                            error: _response.error.body as FernRegistry.templates.get.Error,
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: FernRegistry.templates.get.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    protected async _getAuthorizationHeader(): Promise<string | undefined> {
        const bearer = await core.Supplier.get(this._options.token);
        if (bearer != null) {
            return `Bearer ${bearer}`;
        }

        return undefined;
    }
}
