/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as environments from "../../../../../../../../environments.js";
import * as core from "../../../../../../../../core/index.js";
import * as FdrLambda from "../../../../../../../index.js";
import urlJoin from "url-join";

export declare namespace Read {
    export interface Options {
        environment?: core.Supplier<environments.FdrLambdaEnvironment | string>;
        /** Specify a custom URL to connect the client to. */
        baseUrl?: core.Supplier<string>;
        token: core.Supplier<core.BearerToken>;
    }

    export interface RequestOptions {
        /** The maximum time to wait for a response in seconds. */
        timeoutInSeconds?: number;
        /** The number of times to retry the request. Defaults to 2. */
        maxRetries?: number;
        /** A hook to abort the request. */
        abortSignal?: AbortSignal;
        /** Additional headers to include in the request. */
        headers?: Record<string, string>;
    }
}

export class Read {
    constructor(protected readonly _options: Read.Options) {}

    /**
     * @param {FdrLambda.ApiDefinitionId} apiDefinitionId
     * @param {FdrLambda.EndpointId} endpointId
     * @param {Read.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.api.v1.read.getEndpointById(FdrLambda.ApiDefinitionId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"), FdrLambda.EndpointId("endpointId"))
     */
    public getEndpointById(
        apiDefinitionId: FdrLambda.ApiDefinitionId,
        endpointId: FdrLambda.EndpointId,
        requestOptions?: Read.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<FdrLambda.api.v1.read.EndpointWithContext, FdrLambda.api.v1.read.getEndpointById.Error>
    > {
        return core.HttpResponsePromise.fromPromise(
            this.__getEndpointById(apiDefinitionId, endpointId, requestOptions),
        );
    }

    private async __getEndpointById(
        apiDefinitionId: FdrLambda.ApiDefinitionId,
        endpointId: FdrLambda.EndpointId,
        requestOptions?: Read.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<FdrLambda.api.v1.read.EndpointWithContext, FdrLambda.api.v1.read.getEndpointById.Error>
        >
    > {
        const _response = await core.fetcher({
            url: urlJoin(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FdrLambdaEnvironment.Prod,
                `/registry/api/load/${encodeURIComponent(apiDefinitionId)}/endpoint/${encodeURIComponent(endpointId)}`,
            ),
            method: "GET",
            headers: {
                Authorization: await this._getAuthorizationHeader(),
                "X-Fern-Language": "JavaScript",
                "X-Fern-Runtime": core.RUNTIME.type,
                "X-Fern-Runtime-Version": core.RUNTIME.version,
                ...requestOptions?.headers,
            },
            contentType: "application/json",
            requestType: "json",
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : undefined,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: _response.body as FdrLambda.api.v1.read.EndpointWithContext,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as FdrLambda.api.v1.read.getEndpointById.Error)?.error) {
                case "UnauthorizedError":
                case "ApiDoesNotExistError":
                case "EndpointDoesNotExistError":
                    return {
                        data: {
                            ok: false,
                            error: _response.error.body as FdrLambda.api.v1.read.getEndpointById.Error,
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: FdrLambda.api.v1.read.getEndpointById.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * @param {FdrLambda.ApiDefinitionId} apiDefinitionId
     * @param {FdrLambda.api.v1.read.GetEndpointByLocatorRequest} request
     * @param {Read.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.api.v1.read.getEndpointByLocator(FdrLambda.ApiDefinitionId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"), {
     *         method: "method",
     *         path: "path"
     *     })
     */
    public getEndpointByLocator(
        apiDefinitionId: FdrLambda.ApiDefinitionId,
        request: FdrLambda.api.v1.read.GetEndpointByLocatorRequest,
        requestOptions?: Read.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<FdrLambda.api.v1.read.EndpointWithContext, FdrLambda.api.v1.read.getEndpointByLocator.Error>
    > {
        return core.HttpResponsePromise.fromPromise(
            this.__getEndpointByLocator(apiDefinitionId, request, requestOptions),
        );
    }

    private async __getEndpointByLocator(
        apiDefinitionId: FdrLambda.ApiDefinitionId,
        request: FdrLambda.api.v1.read.GetEndpointByLocatorRequest,
        requestOptions?: Read.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                FdrLambda.api.v1.read.EndpointWithContext,
                FdrLambda.api.v1.read.getEndpointByLocator.Error
            >
        >
    > {
        const { method, path } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        _queryParams["method"] = method;
        _queryParams["path"] = path;
        const _response = await core.fetcher({
            url: urlJoin(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FdrLambdaEnvironment.Prod,
                `/registry/api/load/${encodeURIComponent(apiDefinitionId)}/endpoint`,
            ),
            method: "GET",
            headers: {
                Authorization: await this._getAuthorizationHeader(),
                "X-Fern-Language": "JavaScript",
                "X-Fern-Runtime": core.RUNTIME.type,
                "X-Fern-Runtime-Version": core.RUNTIME.version,
                ...requestOptions?.headers,
            },
            contentType: "application/json",
            queryParameters: _queryParams,
            requestType: "json",
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : undefined,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: _response.body as FdrLambda.api.v1.read.EndpointWithContext,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as FdrLambda.api.v1.read.getEndpointByLocator.Error)?.error) {
                case "UnauthorizedError":
                case "ApiDoesNotExistError":
                case "EndpointDoesNotExistError":
                    return {
                        data: {
                            ok: false,
                            error: _response.error.body as FdrLambda.api.v1.read.getEndpointByLocator.Error,
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: FdrLambda.api.v1.read.getEndpointByLocator.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    protected async _getAuthorizationHeader(): Promise<string> {
        return `Bearer ${await core.Supplier.get(this._options.token)}`;
    }
}
