// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import { normalizeClientOptions } from "../../../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../../../core/headers.js";
import * as core from "../../../../../../../../core/index.js";
import * as environments from "../../../../../../../../environments.js";
import * as FdrLambda from "../../../../../../../index.js";

export declare namespace ReadClient {
    export interface Options extends BaseClientOptions {}

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ReadClient {
    protected readonly _options: ReadClient.Options;

    constructor(options: ReadClient.Options) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Loads the full API definition for a given API definition ID.
     * Returns the API in the latest format.
     *
     * @param {FdrLambda.ApiDefinitionId} apiDefinitionId
     * @param {ReadClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.api.v1.read.getApiDefinitionFull(FdrLambda.ApiDefinitionId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"))
     */
    public getApiDefinitionFull(
        apiDefinitionId: FdrLambda.ApiDefinitionId,
        requestOptions?: ReadClient.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<FdrLambda.api.latest.ApiDefinition, FdrLambda.api.v1.read.getApiDefinitionFull.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__getApiDefinitionFull(apiDefinitionId, requestOptions));
    }

    private async __getApiDefinitionFull(
        apiDefinitionId: FdrLambda.ApiDefinitionId,
        requestOptions?: ReadClient.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<FdrLambda.api.latest.ApiDefinition, FdrLambda.api.v1.read.getApiDefinitionFull.Error>
        >
    > {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FdrLambdaEnvironment.Prod,
                `/registry/api/load-full/${core.url.encodePathParam(apiDefinitionId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs:
                requestOptions?.timeoutInSeconds != null
                    ? requestOptions.timeoutInSeconds * 1000
                    : this._options?.timeoutInSeconds != null
                      ? this._options?.timeoutInSeconds * 1000
                      : undefined,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: _response.body as FdrLambda.api.latest.ApiDefinition,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as FdrLambda.api.v1.read.getApiDefinitionFull.Error)?.error) {
                case "UnauthorizedError":
                case "ApiDoesNotExistError":
                    return {
                        data: {
                            ok: false,
                            error: _response.error.body as FdrLambda.api.v1.read.getApiDefinitionFull.Error,
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: FdrLambda.api.v1.read.getApiDefinitionFull.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * @param {FdrLambda.ApiDefinitionId} apiDefinitionId
     * @param {FdrLambda.EndpointId} endpointId
     * @param {ReadClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.api.v1.read.getEndpointById(FdrLambda.ApiDefinitionId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"), FdrLambda.EndpointId("endpointId"))
     */
    public getEndpointById(
        apiDefinitionId: FdrLambda.ApiDefinitionId,
        endpointId: FdrLambda.EndpointId,
        requestOptions?: ReadClient.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<FdrLambda.api.v1.read.EndpointWithContext, FdrLambda.api.v1.read.getEndpointById.Error>
    > {
        return core.HttpResponsePromise.fromPromise(
            this.__getEndpointById(apiDefinitionId, endpointId, requestOptions),
        );
    }

    private async __getEndpointById(
        apiDefinitionId: FdrLambda.ApiDefinitionId,
        endpointId: FdrLambda.EndpointId,
        requestOptions?: ReadClient.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<FdrLambda.api.v1.read.EndpointWithContext, FdrLambda.api.v1.read.getEndpointById.Error>
        >
    > {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FdrLambdaEnvironment.Prod,
                `/registry/api/load/${core.url.encodePathParam(apiDefinitionId)}/endpoint/${core.url.encodePathParam(endpointId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs:
                requestOptions?.timeoutInSeconds != null
                    ? requestOptions.timeoutInSeconds * 1000
                    : this._options?.timeoutInSeconds != null
                      ? this._options?.timeoutInSeconds * 1000
                      : undefined,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: _response.body as FdrLambda.api.v1.read.EndpointWithContext,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as FdrLambda.api.v1.read.getEndpointById.Error)?.error) {
                case "UnauthorizedError":
                case "ApiDoesNotExistError":
                case "EndpointDoesNotExistError":
                    return {
                        data: {
                            ok: false,
                            error: _response.error.body as FdrLambda.api.v1.read.getEndpointById.Error,
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: FdrLambda.api.v1.read.getEndpointById.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * @param {FdrLambda.ApiDefinitionId} apiDefinitionId
     * @param {FdrLambda.api.v1.read.GetEndpointByLocatorRequest} request
     * @param {ReadClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.api.v1.read.getEndpointByLocator(FdrLambda.ApiDefinitionId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"), {
     *         method: "method",
     *         path: "path"
     *     })
     */
    public getEndpointByLocator(
        apiDefinitionId: FdrLambda.ApiDefinitionId,
        request: FdrLambda.api.v1.read.GetEndpointByLocatorRequest,
        requestOptions?: ReadClient.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<FdrLambda.api.v1.read.EndpointWithContext, FdrLambda.api.v1.read.getEndpointByLocator.Error>
    > {
        return core.HttpResponsePromise.fromPromise(
            this.__getEndpointByLocator(apiDefinitionId, request, requestOptions),
        );
    }

    private async __getEndpointByLocator(
        apiDefinitionId: FdrLambda.ApiDefinitionId,
        request: FdrLambda.api.v1.read.GetEndpointByLocatorRequest,
        requestOptions?: ReadClient.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                FdrLambda.api.v1.read.EndpointWithContext,
                FdrLambda.api.v1.read.getEndpointByLocator.Error
            >
        >
    > {
        const { method, path } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        _queryParams.method = method;
        _queryParams.path = path;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FdrLambdaEnvironment.Prod,
                `/registry/api/load/${core.url.encodePathParam(apiDefinitionId)}/endpoint`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs:
                requestOptions?.timeoutInSeconds != null
                    ? requestOptions.timeoutInSeconds * 1000
                    : this._options?.timeoutInSeconds != null
                      ? this._options?.timeoutInSeconds * 1000
                      : undefined,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: _response.body as FdrLambda.api.v1.read.EndpointWithContext,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as FdrLambda.api.v1.read.getEndpointByLocator.Error)?.error) {
                case "UnauthorizedError":
                case "ApiDoesNotExistError":
                case "EndpointDoesNotExistError":
                    return {
                        data: {
                            ok: false,
                            error: _response.error.body as FdrLambda.api.v1.read.getEndpointByLocator.Error,
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: FdrLambda.api.v1.read.getEndpointByLocator.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    protected async _getAuthorizationHeader(): Promise<string> {
        return `Bearer ${await core.Supplier.get(this._options.token)}`;
    }
}
