Dockerfile
/node_modules
**/node_modules
*.log
.DS_Store
.env
.next
.turbo
**/.next
**/.turbo
**/dist
**/build
**/lib
**/public/build
/.cache
/public/build
/build
**/.cache
*.tsbuildinfo
**/*.tsbuildinfo
**/tsconfig.tsbuildinfo
**/Dockerfile
tsconfig.tsbuildinfo

# Large directories not needed for Docker builds
.git
.github/

# Test files
**/__test__
**/__tests__
**/*.test.ts
**/*.spec.ts
**/*.test.tsx
**/*.test.js
