// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import * as environments from "../../../../environments.js";
import * as core from "../../../../core/index.js";
import * as FernRegistry from "../../../index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import { Cli } from "../resources/cli/client/Client.js";
import { Versions } from "../resources/versions/client/Client.js";

export declare namespace Generators {
    export interface Options extends BaseClientOptions {}

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * CRUD API for managing the generator entity itself.
 */
export class Generators {
    protected readonly _options: Generators.Options;
    protected _cli: Cli | undefined;
    protected _versions: Versions | undefined;

    constructor(_options: Generators.Options = {}) {
        this._options = _options;
    }

    public get cli(): Cli {
        return (this._cli ??= new Cli(this._options));
    }

    public get versions(): Versions {
        return (this._versions ??= new Versions(this._options));
    }

    /**
     * Update or create the specified generator.
     *
     * @param {FernRegistry.generators.Generator} request
     * @param {Generators.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.generators.upsertGenerator({
     *         id: FernRegistry.generators.GeneratorId("id"),
     *         displayName: "displayName",
     *         generatorType: {
     *             type: "sdk"
     *         },
     *         generatorLanguage: undefined,
     *         dockerImage: "dockerImage",
     *         scripts: undefined
     *     })
     */
    public upsertGenerator(
        request: FernRegistry.generators.Generator,
        requestOptions?: Generators.RequestOptions,
    ): core.HttpResponsePromise<core.APIResponse<void, FernRegistry.generators.upsertGenerator.Error>> {
        return core.HttpResponsePromise.fromPromise(this.__upsertGenerator(request, requestOptions));
    }

    private async __upsertGenerator(
        request: FernRegistry.generators.Generator,
        requestOptions?: Generators.RequestOptions,
    ): Promise<core.WithRawResponse<core.APIResponse<void, FernRegistry.generators.upsertGenerator.Error>>> {
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernRegistryEnvironment.Prod,
                "/generators",
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs:
                requestOptions?.timeoutInSeconds != null
                    ? requestOptions.timeoutInSeconds * 1000
                    : this._options?.timeoutInSeconds != null
                      ? this._options?.timeoutInSeconds * 1000
                      : undefined,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: undefined,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        return {
            data: {
                ok: false,
                error: FernRegistry.generators.upsertGenerator.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Get the generator corresponding to the given docker image.
     *
     * @param {FernRegistry.generators.GetGeneratorByImageRequest} request
     * @param {Generators.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.generators.getGeneratorByImage({
     *         dockerImage: "dockerImage"
     *     })
     */
    public getGeneratorByImage(
        request: FernRegistry.generators.GetGeneratorByImageRequest,
        requestOptions?: Generators.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<
            FernRegistry.generators.Generator | undefined,
            FernRegistry.generators.getGeneratorByImage.Error
        >
    > {
        return core.HttpResponsePromise.fromPromise(this.__getGeneratorByImage(request, requestOptions));
    }

    private async __getGeneratorByImage(
        request: FernRegistry.generators.GetGeneratorByImageRequest,
        requestOptions?: Generators.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                FernRegistry.generators.Generator | undefined,
                FernRegistry.generators.getGeneratorByImage.Error
            >
        >
    > {
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernRegistryEnvironment.Prod,
                "/generators/by-image",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs:
                requestOptions?.timeoutInSeconds != null
                    ? requestOptions.timeoutInSeconds * 1000
                    : this._options?.timeoutInSeconds != null
                      ? this._options?.timeoutInSeconds * 1000
                      : undefined,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: _response.body as FernRegistry.generators.Generator | undefined,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        return {
            data: {
                ok: false,
                error: FernRegistry.generators.getGeneratorByImage.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Get the specified generator.
     *
     * @param {FernRegistry.generators.GeneratorId} generatorId
     * @param {Generators.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.generators.getGenerator(FernRegistry.generators.GeneratorId("generatorId"))
     */
    public getGenerator(
        generatorId: FernRegistry.generators.GeneratorId,
        requestOptions?: Generators.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<FernRegistry.generators.Generator | undefined, FernRegistry.generators.getGenerator.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__getGenerator(generatorId, requestOptions));
    }

    private async __getGenerator(
        generatorId: FernRegistry.generators.GeneratorId,
        requestOptions?: Generators.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<FernRegistry.generators.Generator | undefined, FernRegistry.generators.getGenerator.Error>
        >
    > {
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernRegistryEnvironment.Prod,
                `/generators/${encodeURIComponent(generatorId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs:
                requestOptions?.timeoutInSeconds != null
                    ? requestOptions.timeoutInSeconds * 1000
                    : this._options?.timeoutInSeconds != null
                      ? this._options?.timeoutInSeconds * 1000
                      : undefined,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: _response.body as FernRegistry.generators.Generator | undefined,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        return {
            data: {
                ok: false,
                error: FernRegistry.generators.getGenerator.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Get the all generators. This is currently not paginated since the list will be short, but there may in the future be need for pagination.
     *
     * @param {Generators.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.generators.listGenerators()
     */
    public listGenerators(
        requestOptions?: Generators.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<FernRegistry.generators.Generator[], FernRegistry.generators.listGenerators.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__listGenerators(requestOptions));
    }

    private async __listGenerators(
        requestOptions?: Generators.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<FernRegistry.generators.Generator[], FernRegistry.generators.listGenerators.Error>
        >
    > {
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernRegistryEnvironment.Prod,
                "/generators",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs:
                requestOptions?.timeoutInSeconds != null
                    ? requestOptions.timeoutInSeconds * 1000
                    : this._options?.timeoutInSeconds != null
                      ? this._options?.timeoutInSeconds * 1000
                      : undefined,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: _response.body as FernRegistry.generators.Generator[],
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        return {
            data: {
                ok: false,
                error: FernRegistry.generators.listGenerators.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    protected async _getAuthorizationHeader(): Promise<string | undefined> {
        const bearer = await core.Supplier.get(this._options.token);
        if (bearer != null) {
            return `Bearer ${bearer}`;
        }

        return undefined;
    }
}
