openapi: 3.1.0
servers:
  - url: https://api.plantstore.dev/v3
    description: Demo server
info:
  description: |
    This is a sample Plant Store Server based on the OpenAPI 3.1 specification. It provides a comprehensive set of endpoints for managing plants, orders, and user authentication.
    
    ### Key Features
    - **Rich API Documentation**: Includes detailed examples and schema definitions.
    - **Search Functionality**: Search for plants by tags or status.
    - **User-Friendly Endpoints**: Login, logout, and retrieve user information.
    - **Error Handling**: Clear and consistent error responses.
    
    ### Developer Notes
    - Use `api_key` for store endpoints requiring authorization.
    - OAuth2 flow is available for plant-specific operations.
    
  version: 1.0.18
  title: Swagger Plant Store - OpenAPI 3.1
  termsOfService: "http://buildwithfern.com/tos/"
  contact:
    name: Plant Store API Support
    url: https://support.plantstore.dev
    email: support@buildwithfern.com
  license:
    name: Apache 2.0
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
  x-websocket-info:
    description: |
      ### WebSocket Support
      This API supports WebSocket connections for real-time updates on plant inventory and order status changes.
      Connect to: `wss://api.plantstore.dev/v3/ws`
tags:
  - name: plant
    description: Everything about your Plants
    externalDocs:
      description: Plant API Documentation
      url: https://docs.plantstore.dev/plants
  - name: store
    description: Access to Plantstore orders
    externalDocs:
      description: Order Management Guide
      url: https://docs.plantstore.dev/orders
  - name: user
    description: Operations about user
    externalDocs:
      description: User Management API
      url: https://docs.plantstore.dev/users
  - name: oneOf Examples
    description: Example endpoints demonstrating oneOf schemas
  - name: anyOf Examples
    description: Example endpoints demonstrating anyOf schemas
# Global security requirement - applies to all endpoints unless overridden
# security:
#   - bearerAuth: []
paths:
  /ws/plant-updates:
    get:
      tags:
        - plant
      summary: WebSocket connection for real-time plant updates
      description: |
        Establishes a WebSocket connection to receive real-time updates about plant inventory changes.

        **Connection URL**: `wss://api.plantstore.dev/v3/ws/plant-updates`

        **Message Types**:
        - `plant.created` - New plant added to inventory
        - `plant.updated` - Plant details or status changed
        - `plant.deleted` - Plant removed from inventory

        **Authentication**: Include `Authorization` header with bearer token during WebSocket handshake.
      operationId: plantUpdatesWebSocket
      x-websocket: true
      security:
        - basicAuth: []
      parameters:
        - name: Connection
          in: header
          required: true
          schema:
            type: string
            enum: [Upgrade]
        - name: Upgrade
          in: header
          required: true
          schema:
            type: string
            enum: [websocket]
      responses:
        "101":
          description: Switching Protocols - WebSocket connection established
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/WebSocketPlantCreatedEvent"
                  - $ref: "#/components/schemas/WebSocketPlantUpdatedEvent"
                  - $ref: "#/components/schemas/WebSocketPlantDeletedEvent"
              examples:
                plantCreated:
                  summary: Plant created event
                  value:
                    event: "plant.created"
                    timestamp: "2024-01-15T10:30:00Z"
                    data:
                      id: 101
                      name: "Fern"
                      status: "available"
                      tags: ["green", "leafy"]
                plantUpdated:
                  summary: Plant updated event
                  value:
                    event: "plant.updated"
                    timestamp: "2024-01-15T11:45:00Z"
                    data:
                      id: 101
                      name: "Fern"
                      status: "sold"
                      tags: ["green", "leafy"]
        "400":
          description: Bad Request - Invalid WebSocket upgrade request
        "401":
          description: Unauthorized - Invalid or missing authentication token
  /plant:
    post:
      tags:
        - plant
      summary: Add a new plant to the store
      operationId: addPlant
      security:
        - bearerAuth: []
        - basicAuth: []
        - webhook_signature: []
        - api_key: []
        - webhook_signature: []
          api_key: []
      requestBody:
        description: Details of the plant to add
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Plant"
            examples:
              example1:
                summary: Add a Fern Plant
                value:
                  name: "Fern"
                  category: "Indoor"
                  tags: ["green", "leafy"]
                  status: "available"
      responses:
        "200":
          description: Plant successfully added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlantResponse"
              examples:
                exampleResponse:
                  summary: Successful Plant Addition
                  value:
                    id: 101
                    name: "Fern"
                    status: "available"
                    tags: ["green", "leafy"]
        "405":
          description: Invalid input
    put:
      tags:
        - plant
      summary: Update an existing plant
      operationId: updatePlant
      security:
        - basicAuth: []
        - webhook_signature: []
      requestBody:
        description: Updated details of the plant
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Plant"
            examples:
              example1:
                summary: Update plant status
                value:
                  name: "Fern"
                  category: "Indoor"
                  tags: ["green", "leafy"]
                  status: "sold"
      responses:
        "200":
          description: Plant successfully updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlantResponse"
              examples:
                exampleResponse:
                  summary: Successful Plant Update
                  value:
                    id: 101
                    name: "Fern"
                    status: "sold"
                    tags: ["green", "leafy"]
        "400":
          description: Invalid ID supplied
        "404":
          description: Plant not found
  /plant/search/status:
    get:
      tags:
        - plant
      summary: Search plants by status
      description: Filter plants based on their current status.
      operationId: searchPlantsByStatus
      security:
        - bearerAuth: []
        - api_key: []
      parameters:
        - name: status
          in: query
          description: The status of plants to search for.
          required: false
          schema:
            type: string
            enum: [available, pending, sold]
      responses:
        "200":
          description: List of plants matching the status filter
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PlantResponse"
              examples:
                exampleResponse:
                  summary: Plants with status available
                  value:
                    - id: 101
                      name: "Fern"
                      status: "available"
                      tags: ["green", "leafy"]
                    - id: 102
                      name: "Palm"
                      status: "available"
                      tags: ["tropical"]
  /plant/search/tags:
    get:
      tags:
        - plant
      summary: Search plants by tags
      description: Filter plants based on associated tags. This is a public endpoint.
      operationId: searchPlantsByTags
      security: []
      parameters:
        - name: tags
          in: query
          description: Tags to filter plants (comma-separated).
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: List of plants matching the tags filter
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PlantResponse"
              examples:
                exampleResponse:
                  summary: Plants filtered by tags
                  value:
                    - id: 101
                      name: "Fern"
                      status: "available"
                      tags: ["green", "leafy"]
                    - id: 103
                      name: "Cactus"
                      status: "available"
                      tags: ["spiky", "desert"]
  /plant/{plantId}:
    get:
      tags:
        - plant
      summary: Find plant by ID
      description: Retrieve a plant's details by its ID.
      operationId: getPlantById
      parameters:
        - name: plantId
          in: path
          description: ID of the plant to retrieve
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Details of the requested plant
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlantResponse"
              examples:
                exampleResponse:
                  summary: Plant details
                  value:
                    id: 101
                    name: "Fern"
                    status: "available"
                    tags: ["green", "leafy"]
  /user/auth/login:
    get:
      tags:
        - user
      summary: Logs user into the system
      operationId: loginUser
      parameters:
        - name: username
          in: query
          description: The username for login
          schema:
            type: string
        - name: password
          in: query
          description: The password for login
          schema:
            type: string
      responses:
        "200":
          description: Successful login
          headers:
            Set-Cookie:
              description: Session token for user authentication
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserAuthResponse"
              examples:
                exampleResponse:
                  summary: Successful login response
                  value:
                    token: "abc123token"
                    expiresIn: 3600
  /user/auth/logout:
    get:
      tags:
        - user
      summary: Logs out current logged-in user session
      operationId: logoutUser
      responses:
        default:
          description: Successful logout
  /auth/token:
    post:
      tags:
        - user
      summary: Obtain auth token (form-encoded)
      description: |
        Exchange credentials for a token using application/x-www-form-urlencoded.
        This endpoint demonstrates form-encoded request bodies in the API Explorer.
      operationId: getAuthToken
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: john_doe
                password:
                  type: string
                  format: password
                  example: s3cret
                remember_me:
                  type: boolean
                  description: Keep user logged in
                  example: true
                session_name:
                  type: string
                  description: Optional session name
              required:
                - username
                - password
            examples:
              loginForm:
                summary: Login with form data
                value:
                  username: john_doe
                  password: s3cret
                  remember_me: true
      responses:
        "200":
          description: Token response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserAuthResponse"
              examples:
                success:
                  summary: Successful token response
                  value:
                    token: abc123token
                    expiresIn: 3600
        "401":
          description: Invalid credentials
  /user/{username}:
    get:
      tags:
        - user
      summary: Get user by username
      description: Retrieve user details using their username.
      operationId: getUserByName
      parameters:
        - name: username
          in: path
          description: Username of the user to retrieve
          required: true
          schema:
            type: string
      responses:
        "200":
          description: User details retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
              examples:
                exampleResponse:
                  summary: User details response
                  value:
                    id: 1
                    username: "john_doe"
                    email: "john@example.com"
  /store/premium/inventory:
    get:
      tags:
        - store
      summary: Get premium inventory
      description: |
        Retrieve premium plant inventory. This endpoint demonstrates OR-of-AND security semantics.
        Requires EITHER (bearerAuth AND api_key) OR (basicAuth AND api_key).
      operationId: getPremiumInventory
      security:
        - bearerAuth: []
          api_key: []
        - basicAuth: []
          api_key: []
      responses:
        "200":
          description: Premium inventory retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PlantResponse"
              examples:
                exampleResponse:
                  summary: Premium inventory list
                  value:
                    - id: 201
                      name: "Rare Orchid"
                      status: "available"
                      tags: ["premium", "exotic"]
                    - id: 202
                      name: "Bonsai Tree"
                      status: "available"
                      tags: ["premium", "decorative"]
        "401":
          description: Unauthorized - missing or invalid authentication
        "403":
          description: Forbidden - insufficient permissions
  /plant/wildcard-errors:
    get:
      tags:
        - plant
      summary: Endpoint demonstrating wildcard error responses
      description: |
        This endpoint demonstrates wildcard error responses (4XX and 5XX).
        When an error occurs, the response will match the appropriate wildcard pattern.
      operationId: getPlantWithWildcardErrors
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlantResponse"
              examples:
                success:
                  summary: Successful plant retrieval
                  value:
                    id: 101
                    name: "Fern"
                    status: "available"
                    tags: ["green", "leafy"]
        "400":
          description: Bad Request - Invalid input provided
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpecificError"
              examples:
                badRequest:
                  summary: Bad request error
                  value:
                    error: "Invalid plant ID format"
                    code: "BAD_REQUEST"
        "4XX":
          description: Client error - covers all other 4XX status codes
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WildcardError"
              examples:
                clientError:
                  summary: Generic client error
                  value:
                    error: "Client error occurred"
                    code: "CLIENT_ERROR"
                    statusCode: 400
        "500":
          description: Internal Server Error - Server encountered an error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpecificError"
              examples:
                internalError:
                  summary: Internal server error
                  value:
                    error: "Database connection failed"
                    code: "INTERNAL_ERROR"
        "5XX":
          description: Server error - covers all other 5XX status codes
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WildcardError"
              examples:
                serverError:
                  summary: Generic server error
                  value:
                    error: "Server error occurred"
                    code: "SERVER_ERROR"
                    statusCode: 500
  /plant/error-with-response-headers:
    get:
      tags:
        - plant
      summary: Endpoint demonstrating error response headers
      description: |
        This endpoint demonstrates error responses that include response headers.
        For example, a 429 error includes a Retry-After header indicating when the client can retry.
      operationId: getPlantWithErrorHeaders
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlantResponse"
        "429":
          description: Too Many Requests - Rate limit exceeded
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              schema:
                type: integer
              example: 60
            X-RateLimit-Limit:
              description: The maximum number of requests allowed per hour
              schema:
                type: integer
              example: 1000
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window
              schema:
                type: integer
              example: 0
            X-RateLimit-Reset:
              description: Unix timestamp when the rate limit window resets
              schema:
                type: integer
              example: 1640995200
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitError"
              examples:
                rateLimited:
                  summary: Rate limit exceeded
                  value:
                    error: "Rate limit exceeded"
                    code: "RATE_LIMITED"
                    retryAfter: 60
        "503":
          description: Service Unavailable - Server temporarily unavailable
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying, or an HTTP-date
              schema:
                type: string
              example: "120"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableError"
              examples:
                serviceUnavailable:
                  summary: Service temporarily unavailable
                  value:
                    error: "Service temporarily unavailable"
                    code: "SERVICE_UNAVAILABLE"
                    message: "The server is under maintenance. Please try again later."
  /plant/updates/stream:
    get:
      tags:
        - plant
      summary: Stream plant updates (simple streaming)
      description: |
        Stream real-time updates about plant inventory changes.
        This endpoint uses simple x-fern-streaming: true annotation.
      operationId: streamPlantUpdates
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Stream of plant update events
          content:
            text/event-stream:
              schema:
                $ref: "#/components/schemas/PlantUpdateEvent"
      x-fern-streaming: true
  /oneOf/discriminator:
    post:
      tags:
        - oneOf Examples
      summary: Example endpoint using oneOf with discriminator
      description: |
        Demonstrates oneOf with discriminator mapping.

        <CodeBlock title="OpenAPI Spec">
        ```yaml
        schema:
          oneOf:
            - $ref: "#/components/schemas/OneOfDiscriminatedA"
            - $ref: "#/components/schemas/OneOfDiscriminatedB"
          discriminator:
            propertyName: type
            mapping:
              variantA: "#/components/schemas/OneOfDiscriminatedA"
              variantB: "#/components/schemas/OneOfDiscriminatedB"

        components:
          schemas:
            OneOfDiscriminatedA:
              type: object
              required:
                - type
                - variantAField
              properties:
                type:
                  type: string
                variantAField:
                  type: string
            OneOfDiscriminatedB:
              type: object
              required:
                - type
                - variantBField
              properties:
                type:
                  type: string
                variantBField:
                  type: integer
        ```
        </CodeBlock>
      operationId: oneOfExample
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/OneOfDiscriminatedA"
                - $ref: "#/components/schemas/OneOfDiscriminatedB"
              discriminator:
                propertyName: type
                mapping:
                  variantA: "#/components/schemas/OneOfDiscriminatedA"
                  variantB: "#/components/schemas/OneOfDiscriminatedB"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        "400":
          description: Bad request error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ValidationError"
                  - $ref: "#/components/schemas/InvalidTypeError"
                discriminator:
                  propertyName: errorType
                  mapping:
                    validation: "#/components/schemas/ValidationError"
                    invalidType: "#/components/schemas/InvalidTypeError"
      x-fern-examples:
        - name: VariantA
          request:
            type: "variantA"
            variantAField: "example string"
          response:
            body:
              success: true
        - name: VariantB
          request:
            type: "variantB"
            variantBField: 42
          response:
            body:
              success: true
  /oneOf/no-discriminator:
    post:
      tags:
        - oneOf Examples
      summary: Example endpoint using oneOf without discriminator
      description: |
        Demonstrates oneOf without discriminator or mapping.

        <CodeBlock title="OpenAPI Spec">
        ```yaml
        schema:
          oneOf:
            - $ref: "#/components/schemas/OneOfVariantA"
            - $ref: "#/components/schemas/OneOfVariantB"

        components:
          schemas:
            OneOfVariantA:
              type: object
              required:
                - variantAField
              properties:
                variantAField:
                  type: string
            OneOfVariantB:
              type: object
              required:
                - variantBField
              properties:
                variantBField:
                  type: integer
        ```
        </CodeBlock>
      operationId: oneOfExampleNoDiscriminator
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/OneOfVariantA"
                - $ref: "#/components/schemas/OneOfVariantB"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        "400":
          description: Bad request error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorVariantA"
                  - $ref: "#/components/schemas/ErrorVariantB"
      x-fern-examples:
        - name: VariantA
          request:
            variantAField: "example string"
          response:
            body:
              success: true
        - name: VariantB
          request:
            variantBField: 42
          response:
            body:
              success: true
  /oneOf/titled:
    post:
      tags:
        - oneOf Examples
      summary: Example endpoint using oneOf with titles
      description: |
        Demonstrates oneOf with title field per OpenAPI spec.

        <CodeBlock title="OpenAPI Spec">
        ```yaml
        schema:
          oneOf:
            - $ref: "#/components/schemas/OneOfTitledA"
            - $ref: "#/components/schemas/OneOfTitledB"

        components:
          schemas:
            OneOfTitledA:
              title: Titled Variant A
              type: object
              required:
                - titledFieldA
              properties:
                titledFieldA:
                  type: string
            OneOfTitledB:
              title: Titled Variant B
              type: object
              required:
                - titledFieldB
              properties:
                titledFieldB:
                  type: integer
        ```
        </CodeBlock>
      operationId: oneOfExampleTitled
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/OneOfTitledA"
                - $ref: "#/components/schemas/OneOfTitledB"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        "400":
          description: Bad request error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorTitledA"
                  - $ref: "#/components/schemas/ErrorTitledB"
      x-fern-examples:
        - name: TitledVariantA
          request:
            titledFieldA: "example string"
          response:
            body:
              success: true
        - name: TitledVariantB
          request:
            titledFieldB: 42
          response:
            body:
              success: true
  /anyOf/no-titles:
    post:
      tags:
        - anyOf Examples
      summary: Example endpoint using anyOf without titles
      description: |
        Demonstrates anyOf without title fields.

        <CodeBlock title="OpenAPI Spec">
        ```yaml
        schema:
          anyOf:
            - $ref: "#/components/schemas/AnyOfVariantA"
            - $ref: "#/components/schemas/AnyOfVariantB"

        components:
          schemas:
            AnyOfVariantA:
              type: object
              required:
                - optionA
              properties:
                optionA:
                  type: string
            AnyOfVariantB:
              type: object
              required:
                - optionB
              properties:
                optionB:
                  type: boolean
        ```
        </CodeBlock>
      operationId: anyOfExampleNoTitles
      requestBody:
        required: true
        content:
          application/json:
            schema:
              anyOf:
                - $ref: "#/components/schemas/AnyOfVariantA"
                - $ref: "#/components/schemas/AnyOfVariantB"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        "400":
          description: Bad request error
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/AnyOfErrorA"
                  - $ref: "#/components/schemas/AnyOfErrorB"
      x-fern-examples:
        - name: VariantA
          request:
            optionA: "example string"
          response:
            body:
              success: true
        - name: VariantB
          request:
            optionB: true
          response:
            body:
              success: true
        - name: BothVariants
          request:
            optionA: "combined"
            optionB: false
          response:
            body:
              success: true
  /anyOf/titled:
    post:
      tags:
        - anyOf Examples
      summary: Example endpoint using anyOf with titles
      description: |
        Demonstrates anyOf with title field per OpenAPI spec.

        <CodeBlock title="OpenAPI Spec">
        ```yaml
        schema:
          anyOf:
            - $ref: "#/components/schemas/AnyOfTitledA"
            - $ref: "#/components/schemas/AnyOfTitledB"

        components:
          schemas:
            AnyOfTitledA:
              title: Option A
              type: object
              required:
                - optionA
              properties:
                optionA:
                  type: string
            AnyOfTitledB:
              title: Option B
              type: object
              required:
                - optionB
              properties:
                optionB:
                  type: boolean
        ```
        </CodeBlock>
      operationId: anyOfExample
      requestBody:
        required: true
        content:
          application/json:
            schema:
              anyOf:
                - $ref: "#/components/schemas/AnyOfTitledA"
                - $ref: "#/components/schemas/AnyOfTitledB"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        "400":
          description: Bad request error
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/AnyOfErrorTitledA"
                  - $ref: "#/components/schemas/AnyOfErrorTitledB"
      x-fern-examples:
        - name: VariantA
          request:
            optionA: "example string"
          response:
            body:
              success: true
        - name: VariantB
          request:
            optionB: true
          response:
            body:
              success: true
        - name: BothVariants
          request:
            optionA: "combined"
            optionB: false
          response:
            body:
              success: true
  /plant/search/stream:
    post:
      tags:
        - plant
      summary: Stream plant search results (SSE with stream-condition)
      description: |
        Search for plants and stream the results as they are found.
        This endpoint demonstrates x-fern-streaming with format: sse and stream-condition.
      operationId: searchPlantsStream
      security:
        - bearerAuth: []
      requestBody:
        description: Search parameters
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlantSearchRequest"
      x-fern-streaming:
        format: sse
        stream-condition: $request.stream
        stream-description: |
          When stream=true, results are streamed as SSE events.
          Each event contains a partial result as it's found.
        response:
          $ref: "#/components/schemas/PlantSearchBatchResponse"
        response-stream:
          $ref: "#/components/schemas/PlantSearchStreamEvent"
      responses:
        "200":
          description: Search results (batch mode)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlantSearchBatchResponse"
webhooks:
  orderStatusChanged:
    post:
      tags:
        - store
      summary: Order status change notification
      description: |
        Notifies your application when an order's status changes. You must configure a webhook URL in your account settings to receive these notifications.

        **Event Types**:
        - Order placed
        - Order confirmed
        - Order shipped
        - Order delivered
        - Order cancelled
      operationId: onOrderStatusChanged
      requestBody:
        description: Order status change event payload
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderStatusWebhook"
            examples:
              orderShipped:
                summary: Order shipped notification
                value:
                  event: "order.shipped"
                  timestamp: "2024-01-15T14:30:00Z"
                  data:
                    orderId: 12345
                    status: "shipped"
                    trackingNumber: "1Z999AA10123456784"
                    estimatedDelivery: "2024-01-18T12:00:00Z"
      responses:
        "200":
          description: Webhook received successfully
        "400":
          description: Invalid webhook payload
        "401":
          description: Webhook signature verification failed
      security:
        - webhook_signature: []
  plantInventoryLow:
    post:
      tags:
        - plant
      summary: Low inventory alert
      description: |
        Notifies your application when a plant's inventory falls below the configured threshold.
        Configure webhook URL and inventory thresholds in your account settings.
      operationId: onPlantInventoryLow
      requestBody:
        description: Low inventory alert payload
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InventoryAlertWebhook"
            examples:
              lowInventory:
                summary: Low inventory alert
                value:
                  event: "inventory.low"
                  timestamp: "2024-01-15T09:00:00Z"
                  data:
                    plantId: 101
                    plantName: "Fern"
                    currentStock: 5
                    threshold: 10
                    recommendedReorder: 50
      responses:
        "200":
          description: Webhook received successfully
        "400":
          description: Invalid webhook payload
        "401":
          description: Webhook signature verification failed
      security:
        - webhook_signature: []
components:
  schemas:
    Plant:
      type: object
      properties:
        name:
          type: string
        category:
          type: string
        tags:
          type: array
          items:
            type: string
        status:
          type: string
          enum: [available, pending, sold]
    PlantResponse:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        status:
          type: string
        tags:
          type: array
          items:
            type: string
    UserAuthResponse:
      type: object
      properties:
        token:
          type: string
          description: Authentication token
        expiresIn:
          type: integer
          description: Token expiration time in seconds
    User:
      type: object
      properties:
        id:
          type: integer
        username:
          type: string
        email:
          type: string
    WebSocketPlantCreatedEvent:
      type: object
      description: Event sent when a new plant is added to inventory
      properties:
        event:
          type: string
          enum: ["plant.created"]
        timestamp:
          type: string
          format: date-time
        data:
          $ref: "#/components/schemas/PlantResponse"
    WebSocketPlantUpdatedEvent:
      type: object
      description: Event sent when a plant is updated
      properties:
        event:
          type: string
          enum: ["plant.updated"]
        timestamp:
          type: string
          format: date-time
        data:
          $ref: "#/components/schemas/PlantResponse"
    WebSocketPlantDeletedEvent:
      type: object
      description: Event sent when a plant is removed from inventory
      properties:
        event:
          type: string
          enum: ["plant.deleted"]
        timestamp:
          type: string
          format: date-time
        data:
          type: object
          properties:
            id:
              type: integer
              description: ID of the deleted plant
    OrderStatusWebhook:
      type: object
      description: Webhook payload for order status changes
      required:
        - event
        - timestamp
        - data
      properties:
        event:
          type: string
          enum: ["order.placed", "order.confirmed", "order.shipped", "order.delivered", "order.cancelled"]
          description: The type of order event
        timestamp:
          type: string
          format: date-time
          description: When the event occurred
        data:
          type: object
          properties:
            orderId:
              type: integer
              description: Unique order identifier
            status:
              type: string
              description: Current order status
            trackingNumber:
              type: string
              description: Shipping tracking number (if applicable)
            estimatedDelivery:
              type: string
              format: date-time
              description: Estimated delivery date (if applicable)
    InventoryAlertWebhook:
      type: object
      description: Webhook payload for low inventory alerts
      required:
        - event
        - timestamp
        - data
      properties:
        event:
          type: string
          enum: ["inventory.low"]
          description: The type of inventory event
        timestamp:
          type: string
          format: date-time
          description: When the alert was triggered
        data:
          type: object
          properties:
            plantId:
              type: integer
              description: ID of the plant with low inventory
            plantName:
              type: string
              description: Name of the plant
            currentStock:
              type: integer
              description: Current inventory level
            threshold:
              type: integer
              description: Configured threshold for low inventory alerts
            recommendedReorder:
              type: integer
              description: Recommended reorder quantity
    SpecificError:
      type: object
      description: Error response for specific status codes (400, 500)
      required:
        - error
        - code
      properties:
        error:
          type: string
          description: Human-readable error message
        code:
          type: string
          description: Machine-readable error code
    WildcardError:
      type: object
      description: Generic error response for wildcard status codes (4XX/5XX)
      required:
        - error
        - code
      properties:
        error:
          type: string
          description: Human-readable error message
        code:
          type: string
          description: Machine-readable error code
        statusCode:
          type: integer
          description: The actual HTTP status code
        details:
          type: object
          additionalProperties: true
          description: Additional error details
    RateLimitError:
      type: object
      description: Error response when rate limit is exceeded (429)
      required:
        - error
        - code
      properties:
        error:
          type: string
          description: Human-readable error message
        code:
          type: string
          description: Machine-readable error code
        retryAfter:
          type: integer
          description: Number of seconds to wait before retrying
    ServiceUnavailableError:
      type: object
      description: Error response when service is temporarily unavailable (503)
      required:
        - error
        - code
      properties:
        error:
          type: string
          description: Human-readable error message
        code:
          type: string
          description: Machine-readable error code
        message:
          type: string
          description: Additional details about the service unavailability
    PlantUpdateEvent:
      type: object
      description: A streaming event for plant updates
      properties:
        event:
          type: string
          enum: ["plant.created", "plant.updated", "plant.deleted"]
          description: Type of plant event
        timestamp:
          type: string
          format: date-time
          description: When the event occurred
        plant:
          $ref: "#/components/schemas/PlantResponse"
    PlantSearchRequest:
      type: object
      description: Request parameters for plant search
      properties:
        query:
          type: string
          description: Search query for plant names or tags
        status:
          type: string
          enum: [available, pending, sold]
          description: Filter by plant status
        stream:
          type: boolean
          default: false
          description: When true, results are streamed as SSE events
      required:
        - query
    PlantSearchBatchResponse:
      type: object
      description: Batch response containing all search results
      properties:
        results:
          type: array
          items:
            $ref: "#/components/schemas/PlantResponse"
        total:
          type: integer
          description: Total number of results found
    PlantSearchStreamEvent:
      type: object
      description: A single streaming event from plant search
      properties:
        event:
          type: string
          enum: ["search.result", "search.complete"]
          description: Type of search event
        seq:
          type: integer
          description: Sequence number of this event
        data:
          $ref: "#/components/schemas/PlantResponse"
    OneOfDiscriminatedA:
      type: object
      description: First variant for discriminated oneOf
      required:
        - type
        - variantAField
      properties:
        type:
          type: string
        variantAField:
          type: string
    OneOfDiscriminatedB:
      type: object
      description: Second variant for discriminated oneOf
      required:
        - type
        - variantBField
      properties:
        type:
          type: string
        variantBField:
          type: integer
    OneOfVariantA:
      type: object
      description: First variant for oneOf without discriminator
      required:
        - variantAField
      properties:
        variantAField:
          type: string
    OneOfVariantB:
      type: object
      description: Second variant for oneOf without discriminator
      required:
        - variantBField
      properties:
        variantBField:
          type: integer
    OneOfTitledA:
      title: Titled Variant A
      type: object
      description: First variant for oneOf with title
      required:
        - titledFieldA
      properties:
        titledFieldA:
          type: string
    OneOfTitledB:
      title: Titled Variant B
      type: object
      description: Second variant for oneOf with title
      required:
        - titledFieldB
      properties:
        titledFieldB:
          type: integer
    AnyOfVariantA:
      type: object
      description: First variant for anyOf without title
      required:
        - optionA
      properties:
        optionA:
          type: string
    AnyOfVariantB:
      type: object
      description: Second variant for anyOf without title
      required:
        - optionB
      properties:
        optionB:
          type: boolean
    AnyOfTitledA:
      title: Option A
      type: object
      description: First variant for anyOf with title
      required:
        - optionA
      properties:
        optionA:
          type: string
    AnyOfTitledB:
      title: Option B
      type: object
      description: Second variant for anyOf with title
      required:
        - optionB
      properties:
        optionB:
          type: boolean
    # Error schemas for oneOf examples (with discriminator)
    ValidationError:
      type: object
      description: Validation error with discriminator
      required:
        - errorType
        - message
        - field
      properties:
        errorType:
          type: string
        message:
          type: string
        field:
          type: string
    InvalidTypeError:
      type: object
      description: Invalid type error with discriminator
      required:
        - errorType
        - message
        - expectedType
      properties:
        errorType:
          type: string
        message:
          type: string
        expectedType:
          type: string
    # Error schemas for oneOf examples (no discriminator)
    ErrorVariantA:
      type: object
      description: Error variant A without discriminator
      required:
        - errorCodeA
      properties:
        errorCodeA:
          type: string
        details:
          type: string
    ErrorVariantB:
      type: object
      description: Error variant B without discriminator
      required:
        - errorCodeB
      properties:
        errorCodeB:
          type: integer
        reason:
          type: string
    # Error schemas for oneOf examples (with titles)
    ErrorTitledA:
      title: Error Type A
      type: object
      description: Error variant A with title
      required:
        - errorA
      properties:
        errorA:
          type: string
    ErrorTitledB:
      title: Error Type B
      type: object
      description: Error variant B with title
      required:
        - errorB
      properties:
        errorB:
          type: integer
    # Error schemas for anyOf examples (no titles)
    AnyOfErrorA:
      type: object
      description: AnyOf error variant A
      required:
        - fieldError
      properties:
        fieldError:
          type: string
    AnyOfErrorB:
      type: object
      description: AnyOf error variant B
      required:
        - formatError
      properties:
        formatError:
          type: boolean
    # Error schemas for anyOf examples (with titles)
    AnyOfErrorTitledA:
      title: Field Error
      type: object
      description: AnyOf error variant A with title
      required:
        - fieldIssue
      properties:
        fieldIssue:
          type: string
    AnyOfErrorTitledB:
      title: Format Error
      type: object
      description: AnyOf error variant B with title
      required:
        - formatIssue
      properties:
        formatIssue:
          type: boolean
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: JWT bearer token authentication
    basicAuth:
      type: http
      scheme: basic
      description: Basic authentication with Kenny
    webhook_signature:
      type: apiKey
      in: header
      name: X-Webhook-Signature
      description: HMAC SHA256 signature of the webhook payload
    api_key:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key authentication - see https://buildwithfern.com/learn/docs/getting-started/overview to get your API key
