openapi: 3.1.0
servers:
  - url: https://api.plantstore.dev/v3
    description: Demo server
info:
  description: |
    This is a sample Plant Store Server based on the OpenAPI 3.1 specification. It provides a comprehensive set of endpoints for managing plants, orders, and user authentication.
    
    ### Key Features
    - **Rich API Documentation**: Includes detailed examples and schema definitions.
    - **Search Functionality**: Search for plants by tags or status.
    - **User-Friendly Endpoints**: Login, logout, and retrieve user information.
    - **Error Handling**: Clear and consistent error responses.
    
    ### Developer Notes
    - Use `api_key` for store endpoints requiring authorization.
    - OAuth2 flow is available for plant-specific operations.
    
  version: 1.0.18
  title: Swagger Plant Store - OpenAPI 3.1
  termsOfService: "http://buildwithfern.com/tos/"
  contact:
    name: Plant Store API Support
    url: https://support.plantstore.dev
    email: support@buildwithfern.com
  license:
    name: Apache 2.0
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
  x-websocket-info:
    description: |
      ### WebSocket Support
      This API supports WebSocket connections for real-time updates on plant inventory and order status changes.
      Connect to: `wss://api.plantstore.dev/v3/ws`
tags:
  - name: plant
    description: Everything about your Plants
    externalDocs:
      description: Plant API Documentation
      url: https://docs.plantstore.dev/plants
  - name: store
    description: Access to Plantstore orders
    externalDocs:
      description: Order Management Guide
      url: https://docs.plantstore.dev/orders
  - name: user
    description: Operations about user
    externalDocs:
      description: User Management API
      url: https://docs.plantstore.dev/users
  - name: oneOf Examples
    description: Example endpoints demonstrating oneOf schemas
  - name: anyOf Examples
    description: Example endpoints demonstrating anyOf schemas
  - name: catalog
    description: Complex catalog management with large enums and union types
# Global security requirement - applies to all endpoints unless overridden
# security:
#   - bearerAuth: []
paths:
  /ws/plant-updates:
    get:
      tags:
        - plant
      summary: WebSocket connection for real-time plant updates
      description: |
        Establishes a WebSocket connection to receive real-time updates about plant inventory changes.

        **Connection URL**: `wss://api.plantstore.dev/v3/ws/plant-updates`

        **Message Types**:
        - `plant.created` - New plant added to inventory
        - `plant.updated` - Plant details or status changed
        - `plant.deleted` - Plant removed from inventory

        **Authentication**: Include `Authorization` header with bearer token during WebSocket handshake.
      operationId: plantUpdatesWebSocket
      x-websocket: true
      security:
        - basicAuth: []
      parameters:
        - name: Connection
          in: header
          required: true
          schema:
            type: string
            enum: [Upgrade]
        - name: Upgrade
          in: header
          required: true
          schema:
            type: string
            enum: [websocket]
      responses:
        "101":
          description: Switching Protocols - WebSocket connection established
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/WebSocketPlantCreatedEvent"
                  - $ref: "#/components/schemas/WebSocketPlantUpdatedEvent"
                  - $ref: "#/components/schemas/WebSocketPlantDeletedEvent"
              examples:
                plantCreated:
                  summary: Plant created event
                  value:
                    event: "plant.created"
                    timestamp: "2024-01-15T10:30:00Z"
                    data:
                      id: 101
                      name: "Fern"
                      status: "available"
                      tags: ["green", "leafy"]
                plantUpdated:
                  summary: Plant updated event
                  value:
                    event: "plant.updated"
                    timestamp: "2024-01-15T11:45:00Z"
                    data:
                      id: 101
                      name: "Fern"
                      status: "sold"
                      tags: ["green", "leafy"]
        "400":
          description: Bad Request - Invalid WebSocket upgrade request
        "401":
          description: Unauthorized - Invalid or missing authentication token
  /plant:
    post:
      tags:
        - plant
      summary: Add a new plant to the store
      operationId: addPlant
      security:
        - bearerAuth: []
        - basicAuth: []
        - webhook_signature: []
        - api_key: []
        - webhook_signature: []
          api_key: []
      requestBody:
        description: Details of the plant to add
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Plant"
            examples:
              indoorFern:
                summary: Indoor Fern Plant
                value:
                  name: "Fern"
                  category: "Indoor"
                  tags: ["green", "leafy"]
                  status: "available"
              tropicalPalm:
                summary: Tropical Palm Tree
                value:
                  name: "Palm Tree"
                  category: "Outdoor"
                  tags: ["tropical", "tall", "exotic"]
                  status: "available"
              desertCactus:
                summary: Desert Cactus
                value:
                  name: "Saguaro Cactus"
                  category: "Outdoor"
                  tags: ["desert", "spiky", "drought-resistant"]
                  status: "pending"
              rareOrchid:
                summary: Rare Orchid Collection
                value:
                  name: "Blue Orchid"
                  category: "Indoor"
                  tags: ["rare", "flowering", "exotic", "premium"]
                  status: "available"
      responses:
        "200":
          description: Plant successfully added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlantResponse"
              examples:
                exampleResponse:
                  summary: Successful Plant Addition
                  value:
                    id: 101
                    name: "Fern"
                    status: "available"
                    tags: ["green", "leafy"]
        "405":
          description: Invalid input
    put:
      tags:
        - plant
      summary: Update an existing plant
      operationId: updatePlant
      security:
        - basicAuth: []
        - webhook_signature: []
      requestBody:
        description: Updated details of the plant
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Plant"
            examples:
              markAsSold:
                summary: Mark plant as sold
                value:
                  name: "Fern"
                  category: "Indoor"
                  tags: ["green", "leafy"]
                  status: "sold"
              updateToPending:
                summary: Update to pending status
                value:
                  name: "Palm Tree"
                  category: "Outdoor"
                  tags: ["tropical", "tall"]
                  status: "pending"
              addNewTags:
                summary: Add new tags to plant
                value:
                  name: "Cactus"
                  category: "Indoor"
                  tags: ["desert", "spiky", "low-maintenance", "beginner-friendly"]
                  status: "available"
      responses:
        "200":
          description: Plant successfully updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlantResponse"
              examples:
                exampleResponse:
                  summary: Successful Plant Update
                  value:
                    id: 101
                    name: "Fern"
                    status: "sold"
                    tags: ["green", "leafy"]
        "400":
          description: Invalid ID supplied
        "404":
          description: Plant not found
  /plant/search/status:
    get:
      tags:
        - plant
      summary: Search plants by status
      description: Filter plants based on their current status.
      operationId: searchPlantsByStatus
      security:
        - bearerAuth: []
        - api_key: []
      parameters:
        - name: status
          in: query
          description: The status of plants to search for.
          required: false
          schema:
            type: string
            enum: [available, pending, sold]
          examples:
            searchAvailable:
              summary: Search for available plants
              value: available
            searchPending:
              summary: Search for pending plants
              value: pending
      responses:
        "200":
          description: List of plants matching the status filter
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PlantResponse"
              examples:
                searchAvailable:
                  summary: Plants with status available
                  value:
                    - id: 101
                      name: "Fern"
                      status: "available"
                      tags: ["green", "leafy"]
                    - id: 102
                      name: "Palm"
                      status: "available"
                      tags: ["tropical"]
                searchPending:
                  summary: Plants with status pending
                  value:
                    - id: 103
                      name: "Cactus"
                      status: "pending"
                      tags: ["spiky", "desert"]
                responseOnly:
                  summary: Response-only example (should be filtered out)
                  value:
                    - id: 104
                      name: "Orchid"
                      status: "sold"
                      tags: ["rare", "flowering"]
  /plant/search/tags:
    get:
      tags:
        - plant
      summary: Search plants by tags
      description: Filter plants based on associated tags. This is a public endpoint.
      operationId: searchPlantsByTags
      security: []
      parameters:
        - name: tags
          in: query
          description: Tags to filter plants (comma-separated).
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: List of plants matching the tags filter
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PlantResponse"
              examples:
                exampleResponse:
                  summary: Plants filtered by tags
                  value:
                    - id: 101
                      name: "Fern"
                      status: "available"
                      tags: ["green", "leafy"]
                    - id: 103
                      name: "Cactus"
                      status: "available"
                      tags: ["spiky", "desert"]
  /plant/search/filters:
    get:
      tags:
        - plant
      summary: Search plants with explode parameter options
      description: |
        Demonstrates the explode parameter behavior for query parameters.
        - `tagsExplode` uses explode=true (default): tags are sent as separate query params (e.g., `tagsExplode=green&tagsExplode=leafy`)
        - `tagsNoExplode` uses explode=false: tags are sent as comma-separated values (e.g., `tagsNoExplode=green,leafy`)
      operationId: searchPlantsWithFilters
      security: []
      parameters:
        - name: tagsExplode
          in: query
          description: Tags with explode=true (default). Each tag is sent as a separate query parameter.
          explode: true
          schema:
            type: array
            items:
              type: string
          example: ["green", "leafy"]
        - name: tagsNoExplode
          in: query
          description: Tags with explode=false. Tags are sent as comma-separated values.
          explode: false
          schema:
            type: array
            items:
              type: string
          example: ["tropical", "indoor"]
      responses:
        "200":
          description: List of plants matching the filter criteria
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PlantResponse"
              examples:
                exampleResponse:
                  summary: Plants filtered by multiple criteria
                  value:
                    - id: 101
                      name: "Fern"
                      status: "available"
                      tags: ["green", "leafy"]
                    - id: 104
                      name: "Tropical Palm"
                      status: "available"
                      tags: ["tropical", "indoor"]
  /plant/{plantId}:
    get:
      tags:
        - plant
      summary: Find plant by ID
      description: Retrieve a plant's details by its ID.
      operationId: getPlantById
      parameters:
        - name: plantId
          in: path
          description: ID of the plant to retrieve
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Details of the requested plant
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlantResponse"
              examples:
                exampleResponse:
                  summary: Plant details
                  value:
                    id: 101
                    name: "Fern"
                    status: "available"
                    tags: ["green", "leafy"]
  /user/auth/login:
    get:
      tags:
        - user
      summary: Logs user into the system
      operationId: loginUser
      parameters:
        - name: username
          in: query
          description: The username for login
          schema:
            type: string
        - name: password
          in: query
          description: The password for login
          schema:
            type: string
      responses:
        "200":
          description: Successful login
          headers:
            Set-Cookie:
              description: Session token for user authentication
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserAuthResponse"
              examples:
                exampleResponse:
                  summary: Successful login response
                  value:
                    token: "abc123token"
                    expiresIn: 3600
  /user/auth/logout:
    get:
      tags:
        - user
      summary: Logs out current logged-in user session
      operationId: logoutUser
      responses:
        default:
          description: Successful logout
  /auth/token:
    post:
      tags:
        - user
      summary: Obtain auth token (form-encoded)
      description: |
        Exchange credentials for a token using application/x-www-form-urlencoded.
        This endpoint demonstrates form-encoded request bodies in the API Explorer.
      operationId: getAuthToken
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: john_doe
                password:
                  type: string
                  format: password
                  example: s3cret
                remember_me:
                  type: boolean
                  description: Keep user logged in
                  example: true
                session_name:
                  type: string
                  description: Optional session name
              required:
                - username
                - password
            examples:
              loginForm:
                summary: Login with form data
                value:
                  username: john_doe
                  password: s3cret
                  remember_me: true
      responses:
        "200":
          description: Token response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserAuthResponse"
              examples:
                success:
                  summary: Successful token response
                  value:
                    token: abc123token
                    expiresIn: 3600
        "401":
          description: Invalid credentials
  /user/{username}:
    get:
      tags:
        - user
      summary: Get user by username
      description: Retrieve user details using their username.
      operationId: getUserByName
      parameters:
        - name: username
          in: path
          description: Username of the user to retrieve
          required: true
          schema:
            type: string
      responses:
        "200":
          description: User details retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
              examples:
                exampleResponse:
                  summary: User details response
                  value:
                    id: 1
                    username: "john_doe"
                    email: "john@example.com"
  /store/premium/inventory:
    get:
      tags:
        - store
      summary: Get premium inventory
      description: |
        Retrieve premium plant inventory. This endpoint demonstrates OR-of-AND security semantics.
        Requires EITHER (bearerAuth AND api_key) OR (basicAuth AND api_key).
      operationId: getPremiumInventory
      security:
        - bearerAuth: []
          api_key: []
        - basicAuth: []
          api_key: []
      responses:
        "200":
          description: Premium inventory retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PlantResponse"
              examples:
                exampleResponse:
                  summary: Premium inventory list
                  value:
                    - id: 201
                      name: "Rare Orchid"
                      status: "available"
                      tags: ["premium", "exotic"]
                    - id: 202
                      name: "Bonsai Tree"
                      status: "available"
                      tags: ["premium", "decorative"]
        "401":
          description: Unauthorized - missing or invalid authentication
        "403":
          description: Forbidden - insufficient permissions
  /plant/wildcard-errors:
    get:
      tags:
        - plant
      summary: Endpoint demonstrating wildcard error responses
      description: |
        This endpoint demonstrates wildcard error responses (4XX and 5XX).
        When an error occurs, the response will match the appropriate wildcard pattern.
      operationId: getPlantWithWildcardErrors
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlantResponse"
              examples:
                success:
                  summary: Successful plant retrieval
                  value:
                    id: 101
                    name: "Fern"
                    status: "available"
                    tags: ["green", "leafy"]
        "400":
          description: Bad Request - Invalid input provided
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpecificError"
              examples:
                badRequest:
                  summary: Bad request error
                  value:
                    error: "Invalid plant ID format"
                    code: "BAD_REQUEST"
        "4XX":
          description: Client error - covers all other 4XX status codes
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WildcardError"
              examples:
                clientError:
                  summary: Generic client error
                  value:
                    error: "Client error occurred"
                    code: "CLIENT_ERROR"
                    statusCode: 400
        "500":
          description: Internal Server Error - Server encountered an error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpecificError"
              examples:
                internalError:
                  summary: Internal server error
                  value:
                    error: "Database connection failed"
                    code: "INTERNAL_ERROR"
        "5XX":
          description: Server error - covers all other 5XX status codes
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WildcardError"
              examples:
                serverError:
                  summary: Generic server error
                  value:
                    error: "Server error occurred"
                    code: "SERVER_ERROR"
                    statusCode: 500
  /plant/error-with-response-headers:
    get:
      tags:
        - plant
      summary: Endpoint demonstrating error response headers
      description: |
        This endpoint demonstrates error responses that include response headers.
        For example, a 429 error includes a Retry-After header indicating when the client can retry.
      operationId: getPlantWithErrorHeaders
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlantResponse"
        "429":
          description: Too Many Requests - Rate limit exceeded
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              schema:
                type: integer
              example: 60
            X-RateLimit-Limit:
              description: The maximum number of requests allowed per hour
              schema:
                type: integer
              example: 1000
            X-RateLimit-Remaining:
              description: The number of requests remaining in the current rate limit window
              schema:
                type: integer
              example: 0
            X-RateLimit-Reset:
              description: Unix timestamp when the rate limit window resets
              schema:
                type: integer
              example: 1640995200
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitError"
              examples:
                rateLimited:
                  summary: Rate limit exceeded
                  value:
                    error: "Rate limit exceeded"
                    code: "RATE_LIMITED"
                    retryAfter: 60
        "503":
          description: Service Unavailable - Server temporarily unavailable
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying, or an HTTP-date
              schema:
                type: string
              example: "120"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableError"
              examples:
                serviceUnavailable:
                  summary: Service temporarily unavailable
                  value:
                    error: "Service temporarily unavailable"
                    code: "SERVICE_UNAVAILABLE"
                    message: "The server is under maintenance. Please try again later."
  /plant/updates/stream:
    get:
      tags:
        - plant
      summary: Stream plant updates (simple streaming)
      description: |
        Stream real-time updates about plant inventory changes.
        This endpoint uses simple x-fern-streaming: true annotation.
      operationId: streamPlantUpdates
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Stream of plant update events
          content:
            text/event-stream:
              schema:
                $ref: "#/components/schemas/PlantUpdateEvent"
      x-fern-streaming: true
  /oneOf/discriminator:
    post:
      tags:
        - oneOf Examples
      summary: Example endpoint using oneOf with discriminator
      description: |
        Demonstrates oneOf with discriminator mapping.

        <CodeBlock title="OpenAPI Spec">
        ```yaml
        schema:
          oneOf:
            - $ref: "#/components/schemas/OneOfDiscriminatedA"
            - $ref: "#/components/schemas/OneOfDiscriminatedB"
          discriminator:
            propertyName: type
            mapping:
              variantA: "#/components/schemas/OneOfDiscriminatedA"
              variantB: "#/components/schemas/OneOfDiscriminatedB"

        components:
          schemas:
            OneOfDiscriminatedA:
              type: object
              required:
                - type
                - variantAField
              properties:
                type:
                  type: string
                variantAField:
                  type: string
            OneOfDiscriminatedB:
              type: object
              required:
                - type
                - variantBField
              properties:
                type:
                  type: string
                variantBField:
                  type: integer
        ```
        </CodeBlock>
      operationId: oneOfExample
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/OneOfDiscriminatedA"
                - $ref: "#/components/schemas/OneOfDiscriminatedB"
              discriminator:
                propertyName: type
                mapping:
                  variantA: "#/components/schemas/OneOfDiscriminatedA"
                  variantB: "#/components/schemas/OneOfDiscriminatedB"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        "400":
          description: Bad request error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ValidationError"
                  - $ref: "#/components/schemas/InvalidTypeError"
                discriminator:
                  propertyName: errorType
                  mapping:
                    validation: "#/components/schemas/ValidationError"
                    invalidType: "#/components/schemas/InvalidTypeError"
      x-fern-examples:
        - name: VariantA
          request:
            type: "variantA"
            variantAField: "example string"
          response:
            body:
              success: true
        - name: VariantB
          request:
            type: "variantB"
            variantBField: 42
          response:
            body:
              success: true
  /oneOf/no-discriminator:
    post:
      tags:
        - oneOf Examples
      summary: Example endpoint using oneOf without discriminator
      description: |
        Demonstrates oneOf without discriminator or mapping.

        <CodeBlock title="OpenAPI Spec">
        ```yaml
        schema:
          oneOf:
            - $ref: "#/components/schemas/OneOfVariantA"
            - $ref: "#/components/schemas/OneOfVariantB"

        components:
          schemas:
            OneOfVariantA:
              type: object
              required:
                - variantAField
              properties:
                variantAField:
                  type: string
            OneOfVariantB:
              type: object
              required:
                - variantBField
              properties:
                variantBField:
                  type: integer
        ```
        </CodeBlock>
      operationId: oneOfExampleNoDiscriminator
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/OneOfVariantA"
                - $ref: "#/components/schemas/OneOfVariantB"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        "400":
          description: Bad request error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorVariantA"
                  - $ref: "#/components/schemas/ErrorVariantB"
      x-fern-examples:
        - name: VariantA
          request:
            variantAField: "example string"
          response:
            body:
              success: true
        - name: VariantB
          request:
            variantBField: 42
          response:
            body:
              success: true
  /oneOf/titled:
    post:
      tags:
        - oneOf Examples
      summary: Example endpoint using oneOf with titles
      description: |
        Demonstrates oneOf with title field per OpenAPI spec.

        <CodeBlock title="OpenAPI Spec">
        ```yaml
        schema:
          oneOf:
            - $ref: "#/components/schemas/OneOfTitledA"
            - $ref: "#/components/schemas/OneOfTitledB"

        components:
          schemas:
            OneOfTitledA:
              title: Titled Variant A
              type: object
              required:
                - titledFieldA
              properties:
                titledFieldA:
                  type: string
            OneOfTitledB:
              title: Titled Variant B
              type: object
              required:
                - titledFieldB
              properties:
                titledFieldB:
                  type: integer
        ```
        </CodeBlock>
      operationId: oneOfExampleTitled
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/OneOfTitledA"
                - $ref: "#/components/schemas/OneOfTitledB"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        "400":
          description: Bad request error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorTitledA"
                  - $ref: "#/components/schemas/ErrorTitledB"
      x-fern-examples:
        - name: TitledVariantA
          request:
            titledFieldA: "example string"
          response:
            body:
              success: true
        - name: TitledVariantB
          request:
            titledFieldB: 42
          response:
            body:
              success: true
  /oneOf/object-with-union:
    post:
      tags:
        - oneOf Examples
      summary: Example endpoint with object containing a discriminated union property
      description: |
        Demonstrates an object that has a discriminated union as one of its properties.
        This tests that the dropdown selector works for unions nested inside objects.
      operationId: objectWithUnionProperty
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ObjectWithUnionProperty"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
      x-fern-examples:
        - name: WithVariantA
          request:
            name: "Test Plant"
            plantType:
              type: "flowering"
              flowerColor: "red"
          response:
            body:
              success: true
        - name: WithVariantB
          request:
            name: "Test Plant"
            plantType:
              type: "succulent"
              waterRetention: 90
          response:
            body:
              success: true
  /anyOf/no-titles:
    post:
      tags:
        - anyOf Examples
      summary: Example endpoint using anyOf without titles
      description: |
        Demonstrates anyOf without title fields.

        <CodeBlock title="OpenAPI Spec">
        ```yaml
        schema:
          anyOf:
            - $ref: "#/components/schemas/AnyOfVariantA"
            - $ref: "#/components/schemas/AnyOfVariantB"

        components:
          schemas:
            AnyOfVariantA:
              type: object
              required:
                - optionA
              properties:
                optionA:
                  type: string
            AnyOfVariantB:
              type: object
              required:
                - optionB
              properties:
                optionB:
                  type: boolean
        ```
        </CodeBlock>
      operationId: anyOfExampleNoTitles
      requestBody:
        required: true
        content:
          application/json:
            schema:
              anyOf:
                - $ref: "#/components/schemas/AnyOfVariantA"
                - $ref: "#/components/schemas/AnyOfVariantB"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        "400":
          description: Bad request error
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/AnyOfErrorA"
                  - $ref: "#/components/schemas/AnyOfErrorB"
      x-fern-examples:
        - name: VariantA
          request:
            optionA: "example string"
          response:
            body:
              success: true
        - name: VariantB
          request:
            optionB: true
          response:
            body:
              success: true
        - name: BothVariants
          request:
            optionA: "combined"
            optionB: false
          response:
            body:
              success: true
  /anyOf/titled:
    post:
      tags:
        - anyOf Examples
      summary: Example endpoint using anyOf with titles
      description: |
        Demonstrates anyOf with title field per OpenAPI spec.

        <CodeBlock title="OpenAPI Spec">
        ```yaml
        schema:
          anyOf:
            - $ref: "#/components/schemas/AnyOfTitledA"
            - $ref: "#/components/schemas/AnyOfTitledB"

        components:
          schemas:
            AnyOfTitledA:
              title: Option A
              type: object
              required:
                - optionA
              properties:
                optionA:
                  type: string
            AnyOfTitledB:
              title: Option B
              type: object
              required:
                - optionB
              properties:
                optionB:
                  type: boolean
        ```
        </CodeBlock>
      operationId: anyOfExample
      requestBody:
        required: true
        content:
          application/json:
            schema:
              anyOf:
                - $ref: "#/components/schemas/AnyOfTitledA"
                - $ref: "#/components/schemas/AnyOfTitledB"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        "400":
          description: Bad request error
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/AnyOfErrorTitledA"
                  - $ref: "#/components/schemas/AnyOfErrorTitledB"
      x-fern-examples:
        - name: VariantA
          request:
            optionA: "example string"
          response:
            body:
              success: true
        - name: VariantB
          request:
            optionB: true
          response:
            body:
              success: true
        - name: BothVariants
          request:
            optionA: "combined"
            optionB: false
          response:
            body:
              success: true
  /plant/search/stream:
    post:
      tags:
        - plant
      summary: Stream plant search results (SSE with stream-condition)
      description: |
        Search for plants and stream the results as they are found.
        This endpoint demonstrates x-fern-streaming with format: sse and stream-condition.
      operationId: searchPlantsStream
      security:
        - bearerAuth: []
      requestBody:
        description: Search parameters
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlantSearchRequest"
      x-fern-streaming:
        format: sse
        stream-condition: $request.stream
        stream-description: |
          When stream=true, results are streamed as SSE events.
          Each event contains a partial result as it's found.
        response:
          $ref: "#/components/schemas/PlantSearchBatchResponse"
        response-stream:
          $ref: "#/components/schemas/PlantSearchStreamEvent"
      responses:
        "200":
          description: Search results (batch mode)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlantSearchBatchResponse"
webhooks:
  orderStatusChanged:
    post:
      tags:
        - store
      summary: Order status change notification
      description: |
        Notifies your application when an order's status changes. You must configure a webhook URL in your account settings to receive these notifications.

        **Event Types**:
        - Order placed
        - Order confirmed
        - Order shipped
        - Order delivered
        - Order cancelled
      operationId: onOrderStatusChanged
      requestBody:
        description: Order status change event payload
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderStatusWebhook"
            examples:
              orderShipped:
                summary: Order shipped notification
                value:
                  event: "order.shipped"
                  timestamp: "2024-01-15T14:30:00Z"
                  data:
                    orderId: 12345
                    status: "shipped"
                    trackingNumber: "1Z999AA10123456784"
                    estimatedDelivery: "2024-01-18T12:00:00Z"
      responses:
        "200":
          description: |
            Webhook received and processed successfully. Your server should return this response to acknowledge receipt of the webhook event.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookAcknowledgement"
              examples:
                success:
                  summary: Successful acknowledgement
                  value:
                    received: true
                    processedAt: "2024-01-15T14:30:01Z"
        "400":
          description: |
            The webhook payload was malformed or missing required fields. Check the error details for specific validation failures.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookError"
              examples:
                invalidPayload:
                  summary: Invalid payload error
                  value:
                    error: "Invalid webhook payload"
                    code: "INVALID_PAYLOAD"
                    details: "Missing required field: orderId"
        "500":
          description: |
            An internal server error occurred while processing the webhook. The webhook delivery will be retried automatically.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookError"
              examples:
                serverError:
                  summary: Server error
                  value:
                    error: "Internal server error"
                    code: "INTERNAL_ERROR"
                    details: "Database connection failed"
      security:
        - webhook_signature: []
  plantInventoryLow:
    post:
      tags:
        - plant
      summary: Low inventory alert
      description: |
        Notifies your application when a plant's inventory falls below the configured threshold.
        Configure webhook URL and inventory thresholds in your account settings.
      operationId: onPlantInventoryLow
      requestBody:
        description: Low inventory alert payload
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InventoryAlertWebhook"
            examples:
              lowInventory:
                summary: Low inventory alert
                value:
                  event: "inventory.low"
                  timestamp: "2024-01-15T09:00:00Z"
                  data:
                    plantId: 101
                    plantName: "Fern"
                    currentStock: 5
                    threshold: 10
                    recommendedReorder: 50
      responses:
        "200":
          description: |
            Webhook received and processed successfully. Your inventory management system has acknowledged the low stock alert.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookAcknowledgement"
              examples:
                success:
                  summary: Alert acknowledged
                  value:
                    received: true
                    processedAt: "2024-01-15T09:00:01Z"
        "400":
          description: |
            The webhook payload was malformed or missing required fields. Ensure the payload includes plantId, currentStock, and threshold.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookError"
              examples:
                invalidPayload:
                  summary: Missing plant ID
                  value:
                    error: "Invalid webhook payload"
                    code: "INVALID_PAYLOAD"
                    details: "Missing required field: plantId"
        "500":
          description: |
            An internal server error occurred while processing the inventory alert. The webhook delivery will be retried automatically.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookError"
              examples:
                serverError:
                  summary: Database error
                  value:
                    error: "Internal server error"
                    code: "INTERNAL_ERROR"
                    details: "Failed to update inventory tracking system"
      security:
        - webhook_signature: []
  /catalog/items:
    post:
      tags:
        - catalog
      summary: Create a catalog item
      description: |
        Creates a new item in the plant catalog. Items can be plants, seeds, tools, or accessories.
        Each item type has distinct properties represented as a discriminated union.
        Supports complex nested structures with large enum types for categorization.
      operationId: createCatalogItem
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCatalogItemRequest"
            examples:
              tropicalPlant:
                summary: Create a tropical plant item
                value:
                  idempotencyKey: "abc-123-def"
                  item:
                    type: "PLANT"
                    name: "Bird of Paradise"
                    description: "Tropical flowering plant with dramatic orange and blue flowers"
                    category: TROPICAL
                    currency: USD
                    priceCents: 4500
                    country: US
                    tags: ["tropical", "flowering", "indoor"]
                    plantDetails:
                      genus: "Strelitzia"
                      species: "reginae"
                      careLevel: INTERMEDIATE
                      lightRequirement: BRIGHT_INDIRECT
                      waterFrequency: WEEKLY
                      matureHeightCm: 150
                      toxicity: MILDLY_TOXIC
              gardenTool:
                summary: Create a garden tool item
                value:
                  idempotencyKey: "xyz-456-ghi"
                  item:
                    type: "TOOL"
                    name: "Precision Pruning Shears"
                    description: "Ergonomic bypass pruners for clean cuts"
                    category: TOOLS
                    currency: USD
                    priceCents: 2999
                    country: US
                    tags: ["tools", "pruning"]
                    toolDetails:
                      material: STAINLESS_STEEL
                      weightGrams: 220
                      warrantyMonths: 24
      responses:
        "200":
          description: Catalog item created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CatalogItemResponse"
        "400":
          description: Invalid request — validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CatalogError"
        "409":
          description: Idempotency conflict — item already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CatalogError"
  /catalog/items/search:
    post:
      tags:
        - catalog
      summary: Search catalog items
      description: |
        Search for catalog items with complex filters. Supports filtering by category,
        country, currency, price range, and item-type-specific attributes.
        Returns paginated results with full item details.
      operationId: searchCatalogItems
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchCatalogRequest"
            examples:
              searchTropicals:
                summary: Search for tropical plants under $100
                value:
                  filter:
                    categories: [TROPICAL, INDOOR, SUCCULENTS]
                    countries: [US, CA, MX, GB]
                    currencies: [USD, CAD]
                    priceRange:
                      minCents: 1000
                      maxCents: 10000
                    itemTypes: [PLANT, SEED]
                  sortBy: PRICE_ASC
                  limit: 50
                  cursor: null
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchCatalogResponse"
        "400":
          description: Invalid search parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CatalogError"
  /catalog/items/{itemId}:
    get:
      tags:
        - catalog
      summary: Get a catalog item by ID
      description: |
        Retrieves a single catalog item with all its nested details,
        including type-specific properties, pricing in the requested currency,
        and inventory status across all locations.
      operationId: getCatalogItem
      security:
        - bearerAuth: []
      parameters:
        - name: itemId
          in: path
          required: true
          description: Unique identifier of the catalog item
          schema:
            type: string
        - name: currency
          in: query
          required: false
          description: Currency for price conversion
          schema:
            $ref: "#/components/schemas/Currency"
        - name: includeInventory
          in: query
          required: false
          description: Whether to include inventory data for all locations
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: Catalog item details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CatalogItemResponse"
        "404":
          description: Catalog item not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CatalogError"
  /catalog/bulk:
    post:
      tags:
        - catalog
      summary: Bulk upsert catalog items
      description: |
        Create or update multiple catalog items in a single batch operation.
        Supports up to 100 items per request. Each item in the batch can be
        a different type (plant, seed, tool, accessory). Returns per-item
        results including any validation errors.
      operationId: bulkUpsertCatalogItems
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BulkUpsertCatalogRequest"
      responses:
        "200":
          description: Bulk operation results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkUpsertCatalogResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CatalogError"
  /catalog/items/{itemId}/inventory:
    get:
      tags:
        - catalog
      summary: Get inventory for a catalog item
      description: |
        Returns inventory counts and status for a catalog item across all
        warehouse locations. Includes adjustment history and reorder recommendations.
      operationId: getCatalogItemInventory
      security:
        - bearerAuth: []
      parameters:
        - name: itemId
          in: path
          required: true
          schema:
            type: string
        - name: locationCountry
          in: query
          required: false
          description: Filter inventory by warehouse country
          schema:
            $ref: "#/components/schemas/Country"
        - name: state
          in: query
          required: false
          description: Filter by inventory state
          schema:
            $ref: "#/components/schemas/InventoryState"
      responses:
        "200":
          description: Inventory details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InventoryResponse"
        "404":
          description: Item not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CatalogError"
components:
  schemas:
    Plant:
      type: object
      properties:
        name:
          type: string
        category:
          type: string
        tags:
          type: array
          items:
            type: string
        status:
          type: string
          enum: [available, pending, sold]
    PlantResponse:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        status:
          type: string
        tags:
          type: array
          items:
            type: string
    UserAuthResponse:
      type: object
      properties:
        token:
          type: string
          description: Authentication token
        expiresIn:
          type: integer
          description: Token expiration time in seconds
    User:
      type: object
      properties:
        id:
          type: integer
        username:
          type: string
        email:
          type: string
    WebSocketPlantCreatedEvent:
      type: object
      description: Event sent when a new plant is added to inventory
      properties:
        event:
          type: string
          enum: ["plant.created"]
        timestamp:
          type: string
          format: date-time
        data:
          $ref: "#/components/schemas/PlantResponse"
    WebSocketPlantUpdatedEvent:
      type: object
      description: Event sent when a plant is updated
      properties:
        event:
          type: string
          enum: ["plant.updated"]
        timestamp:
          type: string
          format: date-time
        data:
          $ref: "#/components/schemas/PlantResponse"
    WebSocketPlantDeletedEvent:
      type: object
      description: Event sent when a plant is removed from inventory
      properties:
        event:
          type: string
          enum: ["plant.deleted"]
        timestamp:
          type: string
          format: date-time
        data:
          type: object
          properties:
            id:
              type: integer
              description: ID of the deleted plant
    OrderStatusWebhook:
      type: object
      description: Webhook payload for order status changes
      required:
        - event
        - timestamp
        - data
      properties:
        event:
          type: string
          enum: ["order.placed", "order.confirmed", "order.shipped", "order.delivered", "order.cancelled"]
          description: The type of order event
        timestamp:
          type: string
          format: date-time
          description: When the event occurred
        data:
          type: object
          properties:
            orderId:
              type: integer
              description: Unique order identifier
            status:
              type: string
              description: Current order status
            trackingNumber:
              type: string
              description: Shipping tracking number (if applicable)
            estimatedDelivery:
              type: string
              format: date-time
              description: Estimated delivery date (if applicable)
    InventoryAlertWebhook:
      type: object
      description: Webhook payload for low inventory alerts
      required:
        - event
        - timestamp
        - data
      properties:
        event:
          type: string
          enum: ["inventory.low"]
          description: The type of inventory event
        timestamp:
          type: string
          format: date-time
          description: When the alert was triggered
        data:
          type: object
          properties:
            plantId:
              type: integer
              description: ID of the plant with low inventory
            plantName:
              type: string
              description: Name of the plant
            currentStock:
              type: integer
              description: Current inventory level
            threshold:
              type: integer
              description: Configured threshold for low inventory alerts
            recommendedReorder:
              type: integer
              description: Recommended reorder quantity
    WebhookAcknowledgement:
      type: object
      description: Standard acknowledgement response for webhook events. Return this response to confirm successful receipt and processing of the webhook.
      required:
        - received
      properties:
        received:
          type: boolean
          description: Indicates whether the webhook was successfully received
        processedAt:
          type: string
          format: date-time
          description: Timestamp when the webhook was processed by your server
        message:
          type: string
          description: Optional message providing additional context about the processing
    WebhookError:
      type: object
      description: Error response returned when webhook processing fails. Includes error details to help diagnose the issue.
      required:
        - error
        - code
      properties:
        error:
          type: string
          description: Human-readable error message describing what went wrong
        code:
          type: string
          description: Machine-readable error code for programmatic handling
          enum: ["INVALID_PAYLOAD", "INTERNAL_ERROR", "SIGNATURE_MISMATCH", "RATE_LIMITED"]
        details:
          type: string
          description: Additional details about the error, such as which field failed validation
    SpecificError:
      type: object
      description: Error response for specific status codes (400, 500)
      required:
        - error
        - code
      properties:
        error:
          type: string
          description: Human-readable error message
        code:
          type: string
          description: Machine-readable error code
    WildcardError:
      type: object
      description: Generic error response for wildcard status codes (4XX/5XX)
      required:
        - error
        - code
      properties:
        error:
          type: string
          description: Human-readable error message
        code:
          type: string
          description: Machine-readable error code
        statusCode:
          type: integer
          description: The actual HTTP status code
        details:
          type: object
          additionalProperties: true
          description: Additional error details
    RateLimitError:
      type: object
      description: Error response when rate limit is exceeded (429)
      required:
        - error
        - code
      properties:
        error:
          type: string
          description: Human-readable error message
        code:
          type: string
          description: Machine-readable error code
        retryAfter:
          type: integer
          description: Number of seconds to wait before retrying
    ServiceUnavailableError:
      type: object
      description: Error response when service is temporarily unavailable (503)
      required:
        - error
        - code
      properties:
        error:
          type: string
          description: Human-readable error message
        code:
          type: string
          description: Machine-readable error code
        message:
          type: string
          description: Additional details about the service unavailability
    PlantUpdateEvent:
      type: object
      description: A streaming event for plant updates
      properties:
        event:
          type: string
          enum: ["plant.created", "plant.updated", "plant.deleted"]
          description: Type of plant event
        timestamp:
          type: string
          format: date-time
          description: When the event occurred
        plant:
          $ref: "#/components/schemas/PlantResponse"
    PlantSearchRequest:
      type: object
      description: Request parameters for plant search
      properties:
        query:
          type: string
          description: Search query for plant names or tags
        status:
          type: string
          enum: [available, pending, sold]
          description: Filter by plant status
        stream:
          type: boolean
          default: false
          description: When true, results are streamed as SSE events
      required:
        - query
    PlantSearchBatchResponse:
      type: object
      description: Batch response containing all search results
      properties:
        results:
          type: array
          items:
            $ref: "#/components/schemas/PlantResponse"
        total:
          type: integer
          description: Total number of results found
    PlantSearchStreamEvent:
      type: object
      description: A single streaming event from plant search
      properties:
        event:
          type: string
          enum: ["search.result", "search.complete"]
          description: Type of search event
        seq:
          type: integer
          description: Sequence number of this event
        data:
          $ref: "#/components/schemas/PlantResponse"
    OneOfDiscriminatedA:
      type: object
      description: First variant for discriminated oneOf
      required:
        - type
        - variantAField
      properties:
        type:
          type: string
        variantAField:
          type: string
    OneOfDiscriminatedB:
      type: object
      description: Second variant for discriminated oneOf
      required:
        - type
        - variantBField
      properties:
        type:
          type: string
        variantBField:
          type: integer
    OneOfVariantA:
      type: object
      description: First variant for oneOf without discriminator
      required:
        - variantAField
      properties:
        variantAField:
          type: string
    OneOfVariantB:
      type: object
      description: Second variant for oneOf without discriminator
      required:
        - variantBField
      properties:
        variantBField:
          type: integer
    OneOfTitledA:
      title: Titled Variant A
      type: object
      description: First variant for oneOf with title
      required:
        - titledFieldA
      properties:
        titledFieldA:
          type: string
    OneOfTitledB:
      title: Titled Variant B
      type: object
      description: Second variant for oneOf with title
      required:
        - titledFieldB
      properties:
        titledFieldB:
          type: integer
    ObjectWithUnionProperty:
      type: object
      description: An object that contains a discriminated union as one of its properties
      required:
        - name
        - plantType
      properties:
        name:
          type: string
          description: Name of the plant
        plantType:
          description: The type of plant (discriminated union)
          oneOf:
            - $ref: "#/components/schemas/FloweringPlant"
            - $ref: "#/components/schemas/SucculentPlant"
          discriminator:
            propertyName: type
            mapping:
              flowering: "#/components/schemas/FloweringPlant"
              succulent: "#/components/schemas/SucculentPlant"
    FloweringPlant:
      type: object
      description: A flowering plant variant
      required:
        - type
        - flowerColor
      properties:
        type:
          type: string
        flowerColor:
          type: string
          description: Color of the flowers
    SucculentPlant:
      type: object
      description: A succulent plant variant
      required:
        - type
        - waterRetention
      properties:
        type:
          type: string
        waterRetention:
          type: integer
          description: Water retention percentage
    AnyOfVariantA:
      type: object
      description: First variant for anyOf without title
      required:
        - optionA
      properties:
        optionA:
          type: string
    AnyOfVariantB:
      type: object
      description: Second variant for anyOf without title
      required:
        - optionB
      properties:
        optionB:
          type: boolean
    AnyOfTitledA:
      title: Option A
      type: object
      description: First variant for anyOf with title
      required:
        - optionA
      properties:
        optionA:
          type: string
    AnyOfTitledB:
      title: Option B
      type: object
      description: Second variant for anyOf with title
      required:
        - optionB
      properties:
        optionB:
          type: boolean
    # Error schemas for oneOf examples (with discriminator)
    ValidationError:
      type: object
      description: Validation error with discriminator
      required:
        - errorType
        - message
        - field
      properties:
        errorType:
          type: string
        message:
          type: string
        field:
          type: string
    InvalidTypeError:
      type: object
      description: Invalid type error with discriminator
      required:
        - errorType
        - message
        - expectedType
      properties:
        errorType:
          type: string
        message:
          type: string
        expectedType:
          type: string
    # Error schemas for oneOf examples (no discriminator)
    ErrorVariantA:
      type: object
      description: Error variant A without discriminator
      required:
        - errorCodeA
      properties:
        errorCodeA:
          type: string
        details:
          type: string
    ErrorVariantB:
      type: object
      description: Error variant B without discriminator
      required:
        - errorCodeB
      properties:
        errorCodeB:
          type: integer
        reason:
          type: string
    # Error schemas for oneOf examples (with titles)
    ErrorTitledA:
      title: Error Type A
      type: object
      description: Error variant A with title
      required:
        - errorA
      properties:
        errorA:
          type: string
    ErrorTitledB:
      title: Error Type B
      type: object
      description: Error variant B with title
      required:
        - errorB
      properties:
        errorB:
          type: integer
    # Error schemas for anyOf examples (no titles)
    AnyOfErrorA:
      type: object
      description: AnyOf error variant A
      required:
        - fieldError
      properties:
        fieldError:
          type: string
    AnyOfErrorB:
      type: object
      description: AnyOf error variant B
      required:
        - formatError
      properties:
        formatError:
          type: boolean
    # Error schemas for anyOf examples (with titles)
    AnyOfErrorTitledA:
      title: Field Error
      type: object
      description: AnyOf error variant A with title
      required:
        - fieldIssue
      properties:
        fieldIssue:
          type: string
    AnyOfErrorTitledB:
      title: Format Error
      type: object
      description: AnyOf error variant B with title
      required:
        - formatIssue
      properties:
        formatIssue:
          type: boolean
    # ── Complex catalog schemas (large enums, unions, nested objects) ──
    Country:
      type: string
      description: ISO 3166-1 alpha-2 country code
      enum:
        - AD
        - AE
        - AF
        - AG
        - AI
        - AL
        - AM
        - AO
        - AQ
        - AR
        - AS
        - AT
        - AU
        - AW
        - AX
        - AZ
        - BA
        - BB
        - BD
        - BE
        - BF
        - BG
        - BH
        - BI
        - BJ
        - BL
        - BM
        - BN
        - BO
        - BQ
        - BR
        - BS
        - BT
        - BV
        - BW
        - BY
        - BZ
        - CA
        - CC
        - CD
        - CF
        - CG
        - CH
        - CI
        - CK
        - CL
        - CM
        - CN
        - CO
        - CR
        - CU
        - CV
        - CW
        - CX
        - CY
        - CZ
        - DE
        - DJ
        - DK
        - DM
        - DO
        - DZ
        - EC
        - EE
        - EG
        - EH
        - ER
        - ES
        - ET
        - FI
        - FJ
        - FK
        - FM
        - FO
        - FR
        - GA
        - GB
        - GD
        - GE
        - GF
        - GG
        - GH
        - GI
        - GL
        - GM
        - GN
        - GP
        - GQ
        - GR
        - GS
        - GT
        - GU
        - GW
        - GY
        - HK
        - HM
        - HN
        - HR
        - HT
        - HU
        - ID
        - IE
        - IL
        - IM
        - IN
        - IO
        - IQ
        - IR
        - IS
        - IT
        - JE
        - JM
        - JO
        - JP
        - KE
        - KG
        - KH
        - KI
        - KM
        - KN
        - KP
        - KR
        - KW
        - KY
        - KZ
        - LA
        - LB
        - LC
        - LI
        - LK
        - LR
        - LS
        - LT
        - LU
        - LV
        - LY
        - MA
        - MC
        - MD
        - ME
        - MF
        - MG
        - MH
        - MK
        - ML
        - MM
        - MN
        - MO
        - MP
        - MQ
        - MR
        - MS
        - MT
        - MU
        - MV
        - MW
        - MX
        - MY
        - MZ
        - NA
        - NC
        - NE
        - NF
        - NG
        - NI
        - NL
        - "NO"
        - NP
        - NR
        - NU
        - NZ
        - OM
        - PA
        - PE
        - PF
        - PG
        - PH
        - PK
        - PL
        - PM
        - PN
        - PR
        - PS
        - PT
        - PW
        - PY
        - QA
        - RE
        - RO
        - RS
        - RU
        - RW
        - SA
        - SB
        - SC
        - SD
        - SE
        - SG
        - SH
        - SI
        - SJ
        - SK
        - SL
        - SM
        - SN
        - SO
        - SR
        - SS
        - ST
        - SV
        - SX
        - SY
        - SZ
        - TC
        - TD
        - TF
        - TG
        - TH
        - TJ
        - TK
        - TL
        - TM
        - TN
        - TO
        - TR
        - TT
        - TV
        - TW
        - TZ
        - UA
        - UG
        - UM
        - US
        - UY
        - UZ
        - VA
        - VC
        - VE
        - VG
        - VI
        - VN
        - VU
        - WF
        - WS
        - YE
        - YT
        - ZA
        - ZM
        - ZW
        - ZZ
    Currency:
      type: string
      description: ISO 4217 currency code
      enum:
        - UNKNOWN_CURRENCY
        - AED
        - AFN
        - ALL
        - AMD
        - ANG
        - AOA
        - ARS
        - AUD
        - AWG
        - AZN
        - BAM
        - BBD
        - BDT
        - BGN
        - BHD
        - BIF
        - BMD
        - BND
        - BOB
        - BRL
        - BSD
        - BTN
        - BWP
        - BYN
        - BZD
        - CAD
        - CDF
        - CHF
        - CLP
        - CNY
        - COP
        - CRC
        - CUP
        - CVE
        - CZK
        - DJF
        - DKK
        - DOP
        - DZD
        - EGP
        - ERN
        - ETB
        - EUR
        - FJD
        - FKP
        - GBP
        - GEL
        - GHS
        - GIP
        - GMD
        - GNF
        - GTQ
        - GYD
        - HKD
        - HNL
        - HRK
        - HTG
        - HUF
        - IDR
        - ILS
        - INR
        - IQD
        - IRR
        - ISK
        - JMD
        - JOD
        - JPY
        - KES
        - KGS
        - KHR
        - KMF
        - KPW
        - KRW
        - KWD
        - KYD
        - KZT
        - LAK
        - LBP
        - LKR
        - LRD
        - LSL
        - LYD
        - MAD
        - MDL
        - MGA
        - MKD
        - MMK
        - MNT
        - MOP
        - MRU
        - MUR
        - MVR
        - MWK
        - MXN
        - MYR
        - MZN
        - NAD
        - NGN
        - NIO
        - NOK
        - NPR
        - NZD
        - OMR
        - PAB
        - PEN
        - PGK
        - PHP
        - PKR
        - PLN
        - PYG
        - QAR
        - RON
        - RSD
        - RUB
        - RWF
        - SAR
        - SBD
        - SCR
        - SDG
        - SEK
        - SGD
        - SHP
        - SLE
        - SOS
        - SRD
        - SSP
        - STN
        - SVC
        - SYP
        - SZL
        - THB
        - TJS
        - TMT
        - TND
        - TOP
        - TRY
        - TTD
        - TWD
        - TZS
        - UAH
        - UGX
        - USD
        - UYU
        - UZS
        - VES
        - VND
        - VUV
        - WST
        - XAF
        - XCD
        - XOF
        - XPF
        - YER
        - ZAR
        - ZMW
        - ZWL
    CatalogErrorCode:
      type: string
      description: Machine-readable error codes for catalog operations
      enum:
        - INTERNAL_SERVER_ERROR
        - UNAUTHORIZED
        - ACCESS_TOKEN_EXPIRED
        - FORBIDDEN
        - INSUFFICIENT_SCOPES
        - INVALID_REQUEST
        - MISSING_REQUIRED_FIELD
        - INVALID_FIELD_VALUE
        - DUPLICATE_ENTRY
        - ITEM_NOT_FOUND
        - CATEGORY_NOT_FOUND
        - INVENTORY_INSUFFICIENT
        - PRICE_OUT_OF_RANGE
        - CURRENCY_MISMATCH
        - IDEMPOTENCY_CONFLICT
        - BATCH_SIZE_EXCEEDED
        - RATE_LIMITED
        - SERVICE_UNAVAILABLE
        - INVALID_CURSOR
        - SEARCH_QUERY_TOO_COMPLEX
        - UNSUPPORTED_COUNTRY
        - UNSUPPORTED_CURRENCY
        - IMAGE_TOO_LARGE
        - IMAGE_FORMAT_UNSUPPORTED
        - SKU_ALREADY_EXISTS
        - VARIANT_LIMIT_EXCEEDED
        - TAG_LIMIT_EXCEEDED
        - DESCRIPTION_TOO_LONG
        - NAME_TOO_LONG
        - INVALID_PRICE
        - NEGATIVE_QUANTITY
        - LOCATION_NOT_FOUND
        - WAREHOUSE_CAPACITY_EXCEEDED
        - ADJUSTMENT_CONFLICT
        - REORDER_THRESHOLD_INVALID
        - SUPPLIER_NOT_FOUND
        - IMPORT_FAILED
        - EXPORT_FAILED
        - WEBHOOK_DELIVERY_FAILED
        - TIMEOUT
    CatalogCategory:
      type: string
      description: Plant store catalog categories
      enum:
        - TROPICAL
        - SUCCULENTS
        - CACTI
        - FERNS
        - ORCHIDS
        - HERBS
        - VEGETABLES
        - FRUITS
        - TREES
        - SHRUBS
        - GRASSES
        - AQUATIC
        - CARNIVOROUS
        - BONSAI
        - AIR_PLANTS
        - BULBS
        - CLIMBING
        - GROUND_COVER
        - INDOOR
        - OUTDOOR
        - SEEDS
        - SOIL
        - FERTILIZER
        - POTS
        - TOOLS
        - ACCESSORIES
        - GIFT_SETS
        - SEASONAL
        - RARE_SPECIMENS
        - NATIVE_PLANTS
    CatalogItemType:
      type: string
      description: The type of catalog item
      enum:
        - PLANT
        - SEED
        - TOOL
        - ACCESSORY
        - SOIL_MIX
        - FERTILIZER
        - POT
        - GIFT_SET
        - SUBSCRIPTION_BOX
        - CARE_KIT
    CareLevel:
      type: string
      description: Plant care difficulty level
      enum:
        - BEGINNER
        - EASY
        - INTERMEDIATE
        - ADVANCED
        - EXPERT
    LightRequirement:
      type: string
      description: Light requirements for a plant
      enum:
        - FULL_SUN
        - PARTIAL_SUN
        - BRIGHT_INDIRECT
        - MEDIUM_INDIRECT
        - LOW_LIGHT
        - SHADE
        - ARTIFICIAL_ONLY
        - FULL_SHADE
    WaterFrequency:
      type: string
      description: How often a plant needs watering
      enum:
        - DAILY
        - EVERY_OTHER_DAY
        - TWICE_WEEKLY
        - WEEKLY
        - BIWEEKLY
        - MONTHLY
        - RARELY
        - SUBMERGED
    Toxicity:
      type: string
      description: Plant toxicity classification
      enum:
        - NON_TOXIC
        - MILDLY_TOXIC
        - MODERATELY_TOXIC
        - HIGHLY_TOXIC
        - TOXIC_TO_PETS
        - TOXIC_TO_CHILDREN
        - CONTACT_IRRITANT
        - UNKNOWN
    ToolMaterial:
      type: string
      description: Material composition of garden tools
      enum:
        - STAINLESS_STEEL
        - CARBON_STEEL
        - ALUMINUM
        - TITANIUM
        - COPPER
        - BRASS
        - CAST_IRON
        - PLASTIC
        - WOOD
        - BAMBOO
        - FIBERGLASS
        - RUBBER
        - CERAMIC
        - COMPOSITE
    InventoryState:
      type: string
      description: Current state of inventory for an item
      enum:
        - IN_STOCK
        - LOW_STOCK
        - OUT_OF_STOCK
        - BACKORDERED
        - DISCONTINUED
        - PRE_ORDER
        - RESERVED
        - IN_TRANSIT
        - QUARANTINED
        - DAMAGED
        - RETURNED
        - AWAITING_INSPECTION
    SortOrder:
      type: string
      description: Sort order for search results
      enum:
        - PRICE_ASC
        - PRICE_DESC
        - NAME_ASC
        - NAME_DESC
        - CREATED_ASC
        - CREATED_DESC
        - POPULARITY
        - RELEVANCE
    CatalogError:
      type: object
      description: Error response for catalog operations
      required:
        - code
        - message
      properties:
        code:
          $ref: "#/components/schemas/CatalogErrorCode"
        message:
          type: string
          description: Human-readable error message
        field:
          type: string
          description: The field that caused the error, if applicable
        details:
          type: object
          additionalProperties: true
          description: Additional error context
    PlantDetails:
      type: object
      description: Detailed attributes specific to plant items
      properties:
        genus:
          type: string
        species:
          type: string
        commonNames:
          type: array
          items:
            type: string
        careLevel:
          $ref: "#/components/schemas/CareLevel"
        lightRequirement:
          $ref: "#/components/schemas/LightRequirement"
        waterFrequency:
          $ref: "#/components/schemas/WaterFrequency"
        humidityMin:
          type: integer
          description: Minimum humidity percentage
        humidityMax:
          type: integer
          description: Maximum humidity percentage
        temperatureMinC:
          type: integer
          description: Minimum temperature in Celsius
        temperatureMaxC:
          type: integer
          description: Maximum temperature in Celsius
        matureHeightCm:
          type: integer
        matureWidthCm:
          type: integer
        growthRate:
          type: string
          enum: [SLOW, MODERATE, FAST, VERY_FAST]
        toxicity:
          $ref: "#/components/schemas/Toxicity"
        bloomSeason:
          type: string
          enum: [SPRING, SUMMER, FALL, WINTER, YEAR_ROUND, NONE]
        soilType:
          type: string
          enum: [WELL_DRAINING, MOISTURE_RETAINING, SANDY, CLAY, LOAM, PEAT, BARK_MIX, SPHAGNUM]
        propagationMethods:
          type: array
          items:
            type: string
            enum: [SEED, CUTTING, DIVISION, LAYERING, GRAFTING, TISSUE_CULTURE, SPORE, OFFSET]
        isEvergreen:
          type: boolean
        isFragrant:
          type: boolean
        isNative:
          type: boolean
        nativeRegions:
          type: array
          items:
            $ref: "#/components/schemas/Country"
    SeedDetails:
      type: object
      description: Detailed attributes specific to seed items
      properties:
        genus:
          type: string
        species:
          type: string
        seedCount:
          type: integer
        germinationDays:
          type: integer
        germinationRate:
          type: number
          format: float
          description: Expected germination rate (0.0 to 1.0)
        plantingDepthCm:
          type: number
          format: float
        spacingCm:
          type: integer
        daysToMaturity:
          type: integer
        plantingSeasons:
          type: array
          items:
            type: string
            enum: [SPRING, SUMMER, FALL, WINTER]
        hardinessZoneMin:
          type: integer
        hardinessZoneMax:
          type: integer
        isOrganic:
          type: boolean
        isHeirloom:
          type: boolean
        isGMO:
          type: boolean
    ToolDetails:
      type: object
      description: Detailed attributes specific to tool items
      properties:
        material:
          $ref: "#/components/schemas/ToolMaterial"
        weightGrams:
          type: integer
        lengthCm:
          type: number
          format: float
        warrantyMonths:
          type: integer
        isErgonomic:
          type: boolean
        requiresAssembly:
          type: boolean
        powerSource:
          type: string
          enum: [MANUAL, BATTERY, ELECTRIC, GAS, SOLAR]
    AccessoryDetails:
      type: object
      description: Detailed attributes specific to accessory items
      properties:
        material:
          type: string
        color:
          type: string
        sizeCm:
          type: object
          properties:
            length:
              type: number
              format: float
            width:
              type: number
              format: float
            height:
              type: number
              format: float
        weightGrams:
          type: integer
        isIndoor:
          type: boolean
        isOutdoor:
          type: boolean
        hasDrainageHole:
          type: boolean
    CatalogItem:
      type: object
      description: |
        A catalog item representing a product in the plant store. The `type` field
        determines which detail object is populated. This is a discriminated union
        where each item type has its own set of specific properties.
      required:
        - type
        - name
        - category
        - currency
        - priceCents
      properties:
        type:
          $ref: "#/components/schemas/CatalogItemType"
        id:
          type: string
          description: Unique identifier (set by server on creation)
        name:
          type: string
          description: Display name of the item
          maxLength: 200
        description:
          type: string
          description: Detailed description
          maxLength: 5000
        category:
          $ref: "#/components/schemas/CatalogCategory"
        currency:
          $ref: "#/components/schemas/Currency"
        priceCents:
          type: integer
          description: Price in the smallest currency unit (e.g., cents)
          minimum: 0
        comparePriceCents:
          type: integer
          description: Original price before discount
        costCents:
          type: integer
          description: Cost of goods
        country:
          $ref: "#/components/schemas/Country"
        sku:
          type: string
          description: Stock keeping unit
        barcode:
          type: string
        tags:
          type: array
          items:
            type: string
          maxItems: 25
        imageUrls:
          type: array
          items:
            type: string
            format: uri
          maxItems: 10
        isFeatured:
          type: boolean
          default: false
        isActive:
          type: boolean
          default: true
        isTaxable:
          type: boolean
          default: true
        weight:
          type: object
          properties:
            value:
              type: number
              format: float
            unit:
              type: string
              enum: [GRAMS, KILOGRAMS, OUNCES, POUNDS]
        dimensions:
          type: object
          properties:
            lengthCm:
              type: number
              format: float
            widthCm:
              type: number
              format: float
            heightCm:
              type: number
              format: float
        metadata:
          type: object
          additionalProperties:
            type: string
          description: Arbitrary key-value metadata
        plantDetails:
          $ref: "#/components/schemas/PlantDetails"
        seedDetails:
          $ref: "#/components/schemas/SeedDetails"
        toolDetails:
          $ref: "#/components/schemas/ToolDetails"
        accessoryDetails:
          $ref: "#/components/schemas/AccessoryDetails"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        version:
          type: integer
          description: Optimistic concurrency version
    CreateCatalogItemRequest:
      type: object
      required:
        - idempotencyKey
        - item
      properties:
        idempotencyKey:
          type: string
          description: Client-generated key to prevent duplicate creation
        item:
          $ref: "#/components/schemas/CatalogItem"
    CatalogItemResponse:
      type: object
      properties:
        item:
          $ref: "#/components/schemas/CatalogItem"
        inventory:
          type: array
          items:
            $ref: "#/components/schemas/InventoryEntry"
        relatedItems:
          type: array
          items:
            type: string
          description: IDs of related catalog items
    SearchCatalogRequest:
      type: object
      properties:
        filter:
          type: object
          properties:
            categories:
              type: array
              items:
                $ref: "#/components/schemas/CatalogCategory"
            countries:
              type: array
              items:
                $ref: "#/components/schemas/Country"
            currencies:
              type: array
              items:
                $ref: "#/components/schemas/Currency"
            priceRange:
              type: object
              properties:
                minCents:
                  type: integer
                maxCents:
                  type: integer
            itemTypes:
              type: array
              items:
                $ref: "#/components/schemas/CatalogItemType"
            tags:
              type: array
              items:
                type: string
            careLevels:
              type: array
              items:
                $ref: "#/components/schemas/CareLevel"
            lightRequirements:
              type: array
              items:
                $ref: "#/components/schemas/LightRequirement"
            inventoryStates:
              type: array
              items:
                $ref: "#/components/schemas/InventoryState"
            isFeatured:
              type: boolean
            isActive:
              type: boolean
            query:
              type: string
              description: Full-text search query
        sortBy:
          $ref: "#/components/schemas/SortOrder"
        limit:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        cursor:
          type: string
          description: Pagination cursor from previous response
    SearchCatalogResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/CatalogItemResponse"
        totalCount:
          type: integer
        cursor:
          type: string
          description: Cursor for next page, null if no more results
        facets:
          type: object
          properties:
            categories:
              type: object
              additionalProperties:
                type: integer
              description: Count of items per category
            countries:
              type: object
              additionalProperties:
                type: integer
            priceRanges:
              type: array
              items:
                type: object
                properties:
                  label:
                    type: string
                  minCents:
                    type: integer
                  maxCents:
                    type: integer
                  count:
                    type: integer
    BulkUpsertCatalogRequest:
      type: object
      required:
        - items
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/CatalogItem"
          maxItems: 100
    BulkUpsertCatalogResponse:
      type: object
      properties:
        succeeded:
          type: array
          items:
            $ref: "#/components/schemas/CatalogItemResponse"
        failed:
          type: array
          items:
            type: object
            properties:
              index:
                type: integer
                description: Index of the failed item in the request array
              error:
                $ref: "#/components/schemas/CatalogError"
    InventoryEntry:
      type: object
      description: Inventory record for a single warehouse location
      properties:
        locationId:
          type: string
        locationName:
          type: string
        country:
          $ref: "#/components/schemas/Country"
        state:
          $ref: "#/components/schemas/InventoryState"
        quantityOnHand:
          type: integer
        quantityReserved:
          type: integer
        quantityAvailable:
          type: integer
        reorderPoint:
          type: integer
        reorderQuantity:
          type: integer
        lastCountedAt:
          type: string
          format: date-time
        lastReceivedAt:
          type: string
          format: date-time
    InventoryResponse:
      type: object
      properties:
        itemId:
          type: string
        entries:
          type: array
          items:
            $ref: "#/components/schemas/InventoryEntry"
        totalOnHand:
          type: integer
        totalAvailable:
          type: integer
        totalReserved:
          type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: JWT bearer token authentication
    basicAuth:
      type: http
      scheme: basic
      description: Basic authentication with Kenny
    webhook_signature:
      type: apiKey
      in: header
      name: X-Webhook-Signature
      description: HMAC SHA256 signature of the webhook payload
    api_key:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key authentication - see https://buildwithfern.com/learn/docs/getting-started/overview to get your API key
