// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import * as environments from "../../../../../../environments.js";
import * as core from "../../../../../../core/index.js";
import * as FernRegistry from "../../../../../index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";

export declare namespace Latest {
    export interface Options extends BaseClientOptions {}

    export interface RequestOptions extends BaseRequestOptions {}
}

export class Latest {
    protected readonly _options: Latest.Options;

    constructor(_options: Latest.Options = {}) {
        this._options = _options;
    }

    /**
     * @param {FernRegistry.ApiDefinitionId} apiDefinitionId
     * @param {Latest.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.api.latest.getApiLatest(FernRegistry.ApiDefinitionId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"))
     */
    public getApiLatest(
        apiDefinitionId: FernRegistry.ApiDefinitionId,
        requestOptions?: Latest.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<FernRegistry.api.latest.ApiDefinition, FernRegistry.api.latest.getApiLatest.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__getApiLatest(apiDefinitionId, requestOptions));
    }

    private async __getApiLatest(
        apiDefinitionId: FernRegistry.ApiDefinitionId,
        requestOptions?: Latest.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<FernRegistry.api.latest.ApiDefinition, FernRegistry.api.latest.getApiLatest.Error>
        >
    > {
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernRegistryEnvironment.Prod,
                `/registry/api/latest/load/${encodeURIComponent(apiDefinitionId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs:
                requestOptions?.timeoutInSeconds != null
                    ? requestOptions.timeoutInSeconds * 1000
                    : this._options?.timeoutInSeconds != null
                      ? this._options?.timeoutInSeconds * 1000
                      : undefined,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: _response.body as FernRegistry.api.latest.ApiDefinition,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as FernRegistry.api.latest.getApiLatest.Error)?.error) {
                case "UnauthorizedError":
                case "ApiDoesNotExistError":
                    return {
                        data: {
                            ok: false,
                            error: _response.error.body as FernRegistry.api.latest.getApiLatest.Error,
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: FernRegistry.api.latest.getApiLatest.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    protected async _getAuthorizationHeader(): Promise<string | undefined> {
        const bearer = await core.Supplier.get(this._options.token);
        if (bearer != null) {
            return `Bearer ${bearer}`;
        }

        return undefined;
    }
}
