/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as environments from "../../../../environments.js";
import * as core from "../../../../core/index.js";
import * as FernFai from "../../../index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as errors from "../../../../errors/index.js";

export declare namespace Index {
    export interface Options {
        environment?: core.Supplier<environments.FernFaiEnvironment | string>;
        /** Specify a custom URL to connect the client to. */
        baseUrl?: core.Supplier<string>;
        token?: core.Supplier<core.BearerToken | undefined>;
        /** Additional headers to include in requests. */
        headers?: Record<string, string | core.Supplier<string | undefined> | undefined>;
    }

    export interface RequestOptions {
        /** The maximum time to wait for a response in seconds. */
        timeoutInSeconds?: number;
        /** The number of times to retry the request. Defaults to 2. */
        maxRetries?: number;
        /** A hook to abort the request. */
        abortSignal?: AbortSignal;
        /** Additional headers to include in the request. */
        headers?: Record<string, string | core.Supplier<string | undefined> | undefined>;
    }
}

/**
 * FAI Index API
 */
export class Index {
    protected readonly _options: Index.Options;

    constructor(_options: Index.Options = {}) {
        this._options = _options;
    }

    /**
     * Reconstruct the query index for a given domain
     *
     * @param {string} domain
     * @param {Index.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FernFai.BadRequestError}
     * @throws {@link FernFai.InternalError}
     *
     * @example
     *     await client.index.reconstructQueryIndex("domain")
     */
    public reconstructQueryIndex(
        domain: string,
        requestOptions?: Index.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__reconstructQueryIndex(domain, requestOptions));
    }

    private async __reconstructQueryIndex(
        domain: string,
        requestOptions?: Index.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernFaiEnvironment.Prod,
                `/index/${encodeURIComponent(domain)}/reconstruct`,
            ),
            method: "POST",
            headers: mergeHeaders(
                this._options?.headers,
                mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
                requestOptions?.headers,
            ),
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as any)?.["error"]) {
                case "BadRequestError":
                    throw new FernFai.BadRequestError(_response.error.body as string, _response.rawResponse);
                case "InternalError":
                    throw new FernFai.InternalError(_response.error.body as string, _response.rawResponse);
                default:
                    throw new errors.FernFaiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.FernFaiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.FernFaiTimeoutError("Timeout exceeded when calling POST /index/{domain}/reconstruct.");
            case "unknown":
                throw new errors.FernFaiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * Sync an index with the query index
     *
     * @param {string} domain
     * @param {FernFai.SyncIndexRequest} request
     * @param {Index.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FernFai.BadRequestError}
     * @throws {@link FernFai.InternalError}
     *
     * @example
     *     await client.index.syncToQueryIndex("domain", {
     *         index_name: "index_name"
     *     })
     */
    public syncToQueryIndex(
        domain: string,
        request: FernFai.SyncIndexRequest,
        requestOptions?: Index.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__syncToQueryIndex(domain, request, requestOptions));
    }

    private async __syncToQueryIndex(
        domain: string,
        request: FernFai.SyncIndexRequest,
        requestOptions?: Index.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { index_name: indexName } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        _queryParams["index_name"] = indexName;
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernFaiEnvironment.Prod,
                `/index/${encodeURIComponent(domain)}/sync`,
            ),
            method: "POST",
            headers: mergeHeaders(
                this._options?.headers,
                mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
                requestOptions?.headers,
            ),
            queryParameters: _queryParams,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as any)?.["error"]) {
                case "BadRequestError":
                    throw new FernFai.BadRequestError(_response.error.body as string, _response.rawResponse);
                case "InternalError":
                    throw new FernFai.InternalError(_response.error.body as string, _response.rawResponse);
                default:
                    throw new errors.FernFaiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.FernFaiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.FernFaiTimeoutError("Timeout exceeded when calling POST /index/{domain}/sync.");
            case "unknown":
                throw new errors.FernFaiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    protected async _getAuthorizationHeader(): Promise<string | undefined> {
        const bearer = await core.Supplier.get(this._options.token);
        if (bearer != null) {
            return `Bearer ${bearer}`;
        }

        return undefined;
    }
}
