// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import * as environments from "../../../../environments.js";
import * as core from "../../../../core/index.js";
import * as FernRegistry from "../../../index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";

export declare namespace DocsCache {
    export interface Options extends BaseClientOptions {}

    export interface RequestOptions extends BaseRequestOptions {}
}

export class DocsCache {
    protected readonly _options: DocsCache.Options;

    constructor(_options: DocsCache.Options = {}) {
        this._options = _options;
    }

    /**
     * @param {FernRegistry.InvalidateCachedDocsRequest} request
     * @param {DocsCache.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.docsCache.invalidate({
     *         url: FernRegistry.Url("url")
     *     })
     */
    public invalidate(
        request: FernRegistry.InvalidateCachedDocsRequest,
        requestOptions?: DocsCache.RequestOptions,
    ): core.HttpResponsePromise<core.APIResponse<void, FernRegistry.docsCache.invalidate.Error>> {
        return core.HttpResponsePromise.fromPromise(this.__invalidate(request, requestOptions));
    }

    private async __invalidate(
        request: FernRegistry.InvalidateCachedDocsRequest,
        requestOptions?: DocsCache.RequestOptions,
    ): Promise<core.WithRawResponse<core.APIResponse<void, FernRegistry.docsCache.invalidate.Error>>> {
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernRegistryEnvironment.Prod,
                "/docs-cache/invalidate",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs:
                requestOptions?.timeoutInSeconds != null
                    ? requestOptions.timeoutInSeconds * 1000
                    : this._options?.timeoutInSeconds != null
                      ? this._options?.timeoutInSeconds * 1000
                      : undefined,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: undefined,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        return {
            data: {
                ok: false,
                error: FernRegistry.docsCache.invalidate.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    protected async _getAuthorizationHeader(): Promise<string | undefined> {
        const bearer = await core.Supplier.get(this._options.token);
        if (bearer != null) {
            return `Bearer ${bearer}`;
        }

        return undefined;
    }
}
