// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import * as FernRegistry from "../../../index.js";

export declare namespace TokensClient {
    export interface Options extends BaseClientOptions {}

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TokensClient {
    protected readonly _options: TokensClient.Options;

    constructor(options: TokensClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Generate a token
     *
     * @param {FernRegistry.GenerateTokenRequest} request
     * @param {TokensClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.tokens.generate({
     *         orgId: FernRegistry.OrgId("orgId"),
     *         scope: "scope"
     *     })
     */
    public generate(
        request: FernRegistry.GenerateTokenRequest,
        requestOptions?: TokensClient.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<FernRegistry.GenerateTokenResponse, FernRegistry.tokens.generate.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__generate(request, requestOptions));
    }

    private async __generate(
        request: FernRegistry.GenerateTokenRequest,
        requestOptions?: TokensClient.RequestOptions,
    ): Promise<
        core.WithRawResponse<core.APIResponse<FernRegistry.GenerateTokenResponse, FernRegistry.tokens.generate.Error>>
    > {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernRegistryEnvironment.Prod,
                "/tokens/generate",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs:
                requestOptions?.timeoutInSeconds != null
                    ? requestOptions.timeoutInSeconds * 1000
                    : this._options?.timeoutInSeconds != null
                      ? this._options?.timeoutInSeconds * 1000
                      : undefined,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: _response.body as FernRegistry.GenerateTokenResponse,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        return {
            data: {
                ok: false,
                error: FernRegistry.tokens.generate.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Revoke a token
     *
     * @param {FernRegistry.RevokeTokenRequest} request
     * @param {TokensClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.tokens.revoke({
     *         orgId: FernRegistry.OrgId("orgId"),
     *         tokenId: FernRegistry.TokenId("tokenId")
     *     })
     */
    public revoke(
        request: FernRegistry.RevokeTokenRequest,
        requestOptions?: TokensClient.RequestOptions,
    ): core.HttpResponsePromise<core.APIResponse<void, FernRegistry.tokens.revoke.Error>> {
        return core.HttpResponsePromise.fromPromise(this.__revoke(request, requestOptions));
    }

    private async __revoke(
        request: FernRegistry.RevokeTokenRequest,
        requestOptions?: TokensClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.APIResponse<void, FernRegistry.tokens.revoke.Error>>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernRegistryEnvironment.Prod,
                "/tokens/revoke",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs:
                requestOptions?.timeoutInSeconds != null
                    ? requestOptions.timeoutInSeconds * 1000
                    : this._options?.timeoutInSeconds != null
                      ? this._options?.timeoutInSeconds * 1000
                      : undefined,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: undefined,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        return {
            data: {
                ok: false,
                error: FernRegistry.tokens.revoke.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }
}
