openapi: 3.1.0
info:
  title: Tasks API
  description: A simple API for managing tasks
  version: 1.0.0
servers:
  - url: https://api.tasks.dev/v1
    description: Production server
paths:
  /tasks:
    get:
      summary: List all tasks
      description: Retrieve a list of all tasks
      operationId: listTasks
      parameters:
        - name: status
          in: query
          description: Filter tasks by status
          required: false
          schema:
            type: string
            enum: [pending, completed]
      responses:
        "200":
          description: A list of tasks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Task"
    post:
      summary: Create a task
      description: Create a new task
      operationId: createTask
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTaskRequest"
      responses:
        "201":
          description: Task created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Task"
        "400":
          description: Invalid input
  /tasks/{taskId}:
    get:
      summary: Get a task
      description: Retrieve a task by its ID
      operationId: getTask
      parameters:
        - name: taskId
          in: path
          description: The ID of the task to retrieve
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Task details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Task"
        "404":
          description: Task not found
components:
  schemas:
    Task:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the task
        title:
          type: string
          description: Title of the task
        description:
          type: string
          description: Detailed description of the task
        status:
          type: string
          enum: [pending, completed]
          description: Current status of the task
        createdAt:
          type: string
          format: date-time
          description: When the task was created
      required:
        - id
        - title
        - status
        - createdAt
    CreateTaskRequest:
      type: object
      properties:
        title:
          type: string
          description: Title of the task
        description:
          type: string
          description: Detailed description of the task
      required:
        - title
