IS_LOCAL=
FERN_TOKEN=
ANTHROPIC_API_KEY=
COHERE_API_KEY=
OPENAI_API_KEY=
POSTGRES_DATABASE_URL=
TURBOPUFFER_API_KEY=
SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
SLACK_SIGNING_SECRET=
SCRIBE_SLACK_CLIENT_ID=
SCRIBE_SLACK_CLIENT_SECRET=
SCRIBE_SLACK_SIGNING_SECRET=
ASK_FERN_SLACK_BOT_TOKEN=
FERNIE_SLACK_BOT_TOKEN=
DISCORD_BOT_TOKEN=
DISCORD_OAUTH_URL=
FAI_LAMBDA_FUNCTION_NAME=
KV_REST_API_TOKEN=
KV_REST_API_URL=
GITHUB_TOKEN=
FAI_LAMBDA_FUNCTION_NAME=
FAI_REINDEXING_SQS_URL=
VENUS_URL=