IS_LOCAL=
FERN_TOKEN=
ANTHROPIC_API_KEY=
COHERE_API_KEY=
OPENAI_API_KEY=
TURBOPUFFER_API_KEY=
POSTGRES_DATABASE_URL=
ASK_FERN_SLACK_BOT_TOKEN=
FERNIE_SLACK_BOT_TOKEN=
SCRIBE_SLACK_BOT_TOKEN=
ASK_FERN_SLACK_CLIENT_ID=
ASK_FERN_SLACK_CLIENT_SECRET=
ASK_FERN_SLACK_SIGNING_SECRET=
SCRIBE_SLACK_CLIENT_ID=
SCRIBE_SLACK_CLIENT_SECRET=
SCRIBE_SLACK_SIGNING_SECRET=
SCRIBE_DEVIN_API_KEY=
FERN_GITHUB_TOKEN=
FERN_BOT_APP_ID=
FERN_BOT_PRIVATE_KEY=
DISCORD_BOT_TOKEN=
DISCORD_OAUTH_URL=
KV_REST_API_READ_ONLY_TOKEN=
KV_REST_API_TOKEN=
KV_REST_API_URL=
GITHUB_TOKEN=
FAI_LAMBDA_FUNCTION_NAME=
FAI_REINDEXING_SQS_URL=
VENUS_URL=