// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import * as environments from "../../../../../../../../environments.js";
import * as core from "../../../../../../../../core/index.js";
import * as FernRegistry from "../../../../../../../index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../../../core/headers.js";

export declare namespace Register {
    export interface Options extends BaseClientOptions {}

    export interface RequestOptions extends BaseRequestOptions {}
}

export class Register {
    protected readonly _options: Register.Options;

    constructor(_options: Register.Options = {}) {
        this._options = _options;
    }

    /**
     * @param {FernRegistry.api.v1.register.RegisterApiDefinitionRequest} request
     * @param {Register.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.api.v1.register.registerApiDefinition({
     *         orgId: FernRegistry.OrgId("orgId"),
     *         apiId: FernRegistry.ApiId("apiId"),
     *         definition: undefined,
     *         definitionV2: undefined,
     *         sources: undefined,
     *         dynamicIRs: undefined
     *     })
     */
    public registerApiDefinition(
        request: FernRegistry.api.v1.register.RegisterApiDefinitionRequest,
        requestOptions?: Register.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<
            FernRegistry.api.v1.register.RegisterApiDefinitionResponse,
            FernRegistry.api.v1.register.registerApiDefinition.Error
        >
    > {
        return core.HttpResponsePromise.fromPromise(this.__registerApiDefinition(request, requestOptions));
    }

    private async __registerApiDefinition(
        request: FernRegistry.api.v1.register.RegisterApiDefinitionRequest,
        requestOptions?: Register.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                FernRegistry.api.v1.register.RegisterApiDefinitionResponse,
                FernRegistry.api.v1.register.registerApiDefinition.Error
            >
        >
    > {
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernRegistryEnvironment.Prod,
                "/registry/api/register",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs:
                requestOptions?.timeoutInSeconds != null
                    ? requestOptions.timeoutInSeconds * 1000
                    : this._options?.timeoutInSeconds != null
                      ? this._options?.timeoutInSeconds * 1000
                      : undefined,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: _response.body as FernRegistry.api.v1.register.RegisterApiDefinitionResponse,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as FernRegistry.api.v1.register.registerApiDefinition.Error)?.error) {
                case "UnauthorizedError":
                case "UserNotInOrgError":
                    return {
                        data: {
                            ok: false,
                            error: _response.error.body as FernRegistry.api.v1.register.registerApiDefinition.Error,
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: FernRegistry.api.v1.register.registerApiDefinition.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    protected async _getAuthorizationHeader(): Promise<string | undefined> {
        const bearer = await core.Supplier.get(this._options.token);
        if (bearer != null) {
            return `Bearer ${bearer}`;
        }

        return undefined;
    }
}
