// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import { normalizeClientOptions } from "../../../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../../../core/headers.js";
import * as core from "../../../../../../../../core/index.js";
import * as environments from "../../../../../../../../environments.js";
import * as FernRegistry from "../../../../../../../index.js";

export declare namespace RegisterClient {
    export interface Options extends BaseClientOptions {}

    export interface RequestOptions extends BaseRequestOptions {}
}

export class RegisterClient {
    protected readonly _options: RegisterClient.Options;

    constructor(options: RegisterClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * @param {FernRegistry.api.v1.register.RegisterApiDefinitionRequest} request
     * @param {RegisterClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.api.v1.register.registerApiDefinition({
     *         orgId: FernRegistry.OrgId("orgId"),
     *         apiId: FernRegistry.ApiId("apiId")
     *     })
     */
    public registerApiDefinition(
        request: FernRegistry.api.v1.register.RegisterApiDefinitionRequest,
        requestOptions?: RegisterClient.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<
            FernRegistry.api.v1.register.RegisterApiDefinitionResponse,
            FernRegistry.api.v1.register.registerApiDefinition.Error
        >
    > {
        return core.HttpResponsePromise.fromPromise(this.__registerApiDefinition(request, requestOptions));
    }

    private async __registerApiDefinition(
        request: FernRegistry.api.v1.register.RegisterApiDefinitionRequest,
        requestOptions?: RegisterClient.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                FernRegistry.api.v1.register.RegisterApiDefinitionResponse,
                FernRegistry.api.v1.register.registerApiDefinition.Error
            >
        >
    > {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernRegistryEnvironment.Prod,
                "/registry/api/register",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs:
                requestOptions?.timeoutInSeconds != null
                    ? requestOptions.timeoutInSeconds * 1000
                    : this._options?.timeoutInSeconds != null
                      ? this._options?.timeoutInSeconds * 1000
                      : undefined,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: _response.body as FernRegistry.api.v1.register.RegisterApiDefinitionResponse,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as FernRegistry.api.v1.register.registerApiDefinition.Error)?.error) {
                case "UnauthorizedError":
                case "UserNotInOrgError":
                case "UserDoesNotHaveCliPermissionError":
                    return {
                        data: {
                            ok: false,
                            error: _response.error.body as FernRegistry.api.v1.register.registerApiDefinition.Error,
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: FernRegistry.api.v1.register.registerApiDefinition.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Get presigned S3 upload URLs for SDK dynamic IR without requiring full API registration. Used for SDK generation.
     *
     * @param {FernRegistry.api.v1.register.GetSdkDynamicIrUploadUrlsRequest} request
     * @param {RegisterClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.api.v1.register.getSdkDynamicIrUploadUrls({
     *         orgId: FernRegistry.OrgId("orgId"),
     *         version: "version",
     *         snippetConfiguration: {
     *             "snippetConfiguration": "snippetConfiguration"
     *         }
     *     })
     */
    public getSdkDynamicIrUploadUrls(
        request: FernRegistry.api.v1.register.GetSdkDynamicIrUploadUrlsRequest,
        requestOptions?: RegisterClient.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<
            FernRegistry.api.v1.register.GetSdkDynamicIrUploadUrlsResponse,
            FernRegistry.api.v1.register.getSdkDynamicIrUploadUrls.Error
        >
    > {
        return core.HttpResponsePromise.fromPromise(this.__getSdkDynamicIrUploadUrls(request, requestOptions));
    }

    private async __getSdkDynamicIrUploadUrls(
        request: FernRegistry.api.v1.register.GetSdkDynamicIrUploadUrlsRequest,
        requestOptions?: RegisterClient.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                FernRegistry.api.v1.register.GetSdkDynamicIrUploadUrlsResponse,
                FernRegistry.api.v1.register.getSdkDynamicIrUploadUrls.Error
            >
        >
    > {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernRegistryEnvironment.Prod,
                "/registry/api/sdk-dynamic-ir-upload-urls",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs:
                requestOptions?.timeoutInSeconds != null
                    ? requestOptions.timeoutInSeconds * 1000
                    : this._options?.timeoutInSeconds != null
                      ? this._options?.timeoutInSeconds * 1000
                      : undefined,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: _response.body as FernRegistry.api.v1.register.GetSdkDynamicIrUploadUrlsResponse,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as FernRegistry.api.v1.register.getSdkDynamicIrUploadUrls.Error)?.error) {
                case "UnauthorizedError":
                case "UserNotInOrgError":
                case "UserDoesNotHaveCliPermissionError":
                    return {
                        data: {
                            ok: false,
                            error: _response.error.body as FernRegistry.api.v1.register.getSdkDynamicIrUploadUrls.Error,
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: FernRegistry.api.v1.register.getSdkDynamicIrUploadUrls.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Check if SDK dynamic IR exists in S3 for the given languages/snippets. Returns download URLs for existing dynamic IRs.
     *
     * @param {FernRegistry.api.v1.register.CheckSdkDynamicIrExistsRequest} request
     * @param {RegisterClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.api.v1.register.checkSdkDynamicIrExists({
     *         orgId: FernRegistry.OrgId("orgId"),
     *         snippetConfiguration: {
     *             "snippetConfiguration": {
     *                 packageName: "packageName",
     *                 version: undefined
     *             }
     *         }
     *     })
     */
    public checkSdkDynamicIrExists(
        request: FernRegistry.api.v1.register.CheckSdkDynamicIrExistsRequest,
        requestOptions?: RegisterClient.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<
            FernRegistry.api.v1.register.CheckSdkDynamicIrExistsResponse,
            FernRegistry.api.v1.register.checkSdkDynamicIrExists.Error
        >
    > {
        return core.HttpResponsePromise.fromPromise(this.__checkSdkDynamicIrExists(request, requestOptions));
    }

    private async __checkSdkDynamicIrExists(
        request: FernRegistry.api.v1.register.CheckSdkDynamicIrExistsRequest,
        requestOptions?: RegisterClient.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                FernRegistry.api.v1.register.CheckSdkDynamicIrExistsResponse,
                FernRegistry.api.v1.register.checkSdkDynamicIrExists.Error
            >
        >
    > {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernRegistryEnvironment.Prod,
                "/registry/api/check-sdk-dynamic-ir",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs:
                requestOptions?.timeoutInSeconds != null
                    ? requestOptions.timeoutInSeconds * 1000
                    : this._options?.timeoutInSeconds != null
                      ? this._options?.timeoutInSeconds * 1000
                      : undefined,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: _response.body as FernRegistry.api.v1.register.CheckSdkDynamicIrExistsResponse,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as FernRegistry.api.v1.register.checkSdkDynamicIrExists.Error)?.error) {
                case "UnauthorizedError":
                case "UserNotInOrgError":
                    return {
                        data: {
                            ok: false,
                            error: _response.error.body as FernRegistry.api.v1.register.checkSdkDynamicIrExists.Error,
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: FernRegistry.api.v1.register.checkSdkDynamicIrExists.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    protected async _getAuthorizationHeader(): Promise<string | undefined> {
        const bearer = await core.Supplier.get(this._options.token);
        if (bearer != null) {
            return `Bearer ${bearer}`;
        }

        return undefined;
    }
}
