// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import * as FernRegistry from "../../../index.js";

export declare namespace DiffClient {
    export interface Options extends BaseClientOptions {}

    export interface RequestOptions extends BaseRequestOptions {}
}

export class DiffClient {
    protected readonly _options: DiffClient.Options;

    constructor(options: DiffClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * @param {FernRegistry.ApiDiffRequest} request
     * @param {DiffClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.diff.diff({
     *         previousApiDefinitionId: FernRegistry.ApiDefinitionId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"),
     *         currentApiDefinitionId: FernRegistry.ApiDefinitionId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32")
     *     })
     */
    public diff(
        request: FernRegistry.ApiDiffRequest,
        requestOptions?: DiffClient.RequestOptions,
    ): core.HttpResponsePromise<core.APIResponse<FernRegistry.ApiDiff, FernRegistry.diff.diff.Error>> {
        return core.HttpResponsePromise.fromPromise(this.__diff(request, requestOptions));
    }

    private async __diff(
        request: FernRegistry.ApiDiffRequest,
        requestOptions?: DiffClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.APIResponse<FernRegistry.ApiDiff, FernRegistry.diff.diff.Error>>> {
        const { previousApiDefinitionId, currentApiDefinitionId } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        _queryParams.previousApiDefinitionId = previousApiDefinitionId;
        _queryParams.currentApiDefinitionId = currentApiDefinitionId;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernRegistryEnvironment.Prod,
                "/registry/diff",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs:
                requestOptions?.timeoutInSeconds != null
                    ? requestOptions.timeoutInSeconds * 1000
                    : this._options?.timeoutInSeconds != null
                      ? this._options?.timeoutInSeconds * 1000
                      : undefined,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: _response.body as FernRegistry.ApiDiff,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        return {
            data: {
                ok: false,
                error: FernRegistry.diff.diff.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    protected async _getAuthorizationHeader(): Promise<string | undefined> {
        const bearer = await core.Supplier.get(this._options.token);
        if (bearer != null) {
            return `Bearer ${bearer}`;
        }

        return undefined;
    }
}
