// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import * as environments from "../../../../../../environments.js";
import * as core from "../../../../../../core/index.js";
import * as FernRegistry from "../../../../../index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";

export declare namespace Versions {
    export interface Options extends BaseClientOptions {}

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * CRUD API for managing generator versions.
 */
export class Versions {
    protected readonly _options: Versions.Options;

    constructor(_options: Versions.Options = {}) {
        this._options = _options;
    }

    /**
     * Get the latest generator version that has not been yanked.
     *
     * @param {FernRegistry.generators.GetLatestGeneratorReleaseRequest} request
     * @param {Versions.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.generators.versions.getLatestGeneratorRelease({
     *         generator: FernRegistry.generators.GeneratorId("generator"),
     *         cliVersion: undefined,
     *         irVersion: undefined,
     *         generatorMajorVersion: undefined,
     *         releaseTypes: undefined
     *     })
     */
    public getLatestGeneratorRelease(
        request: FernRegistry.generators.GetLatestGeneratorReleaseRequest,
        requestOptions?: Versions.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<
            FernRegistry.generators.GeneratorRelease,
            FernRegistry.generators.versions.getLatestGeneratorRelease.Error
        >
    > {
        return core.HttpResponsePromise.fromPromise(this.__getLatestGeneratorRelease(request, requestOptions));
    }

    private async __getLatestGeneratorRelease(
        request: FernRegistry.generators.GetLatestGeneratorReleaseRequest,
        requestOptions?: Versions.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                FernRegistry.generators.GeneratorRelease,
                FernRegistry.generators.versions.getLatestGeneratorRelease.Error
            >
        >
    > {
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernRegistryEnvironment.Prod,
                "/generators/versions/latest",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs:
                requestOptions?.timeoutInSeconds != null
                    ? requestOptions.timeoutInSeconds * 1000
                    : this._options?.timeoutInSeconds != null
                      ? this._options?.timeoutInSeconds * 1000
                      : undefined,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: _response.body as FernRegistry.generators.GeneratorRelease,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as FernRegistry.generators.versions.getLatestGeneratorRelease.Error)?.error) {
                case "NoValidGeneratorsFoundError":
                    return {
                        data: {
                            ok: false,
                            error: _response.error
                                .body as FernRegistry.generators.versions.getLatestGeneratorRelease.Error,
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: FernRegistry.generators.versions.getLatestGeneratorRelease.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Get the changelog for the specified generator upgrade. The response will be a map of the generator version to it's corresponding changelog.
     *
     * @param {FernRegistry.generators.GeneratorId} generator
     * @param {FernRegistry.generators.GetChangelogRequest} request
     * @param {Versions.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.generators.versions.getChangelog(FernRegistry.generators.GeneratorId("generator"), {
     *         fromVersion: {
     *             type: "inclusive",
     *             value: "fromVersion"
     *         },
     *         toVersion: {
     *             type: "inclusive",
     *             value: "toVersion"
     *         }
     *     })
     */
    public getChangelog(
        generator: FernRegistry.generators.GeneratorId,
        request: FernRegistry.generators.GetChangelogRequest,
        requestOptions?: Versions.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<
            FernRegistry.generators.GetChangelogResponse,
            FernRegistry.generators.versions.getChangelog.Error
        >
    > {
        return core.HttpResponsePromise.fromPromise(this.__getChangelog(generator, request, requestOptions));
    }

    private async __getChangelog(
        generator: FernRegistry.generators.GeneratorId,
        request: FernRegistry.generators.GetChangelogRequest,
        requestOptions?: Versions.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                FernRegistry.generators.GetChangelogResponse,
                FernRegistry.generators.versions.getChangelog.Error
            >
        >
    > {
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernRegistryEnvironment.Prod,
                `/generators/versions/${encodeURIComponent(generator)}/changelog`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs:
                requestOptions?.timeoutInSeconds != null
                    ? requestOptions.timeoutInSeconds * 1000
                    : this._options?.timeoutInSeconds != null
                      ? this._options?.timeoutInSeconds * 1000
                      : undefined,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: _response.body as FernRegistry.generators.GetChangelogResponse,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        return {
            data: {
                ok: false,
                error: FernRegistry.generators.versions.getChangelog.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Update or create the specified generator version.
     *
     * @param {FernRegistry.generators.GeneratorReleaseRequest} request
     * @param {Versions.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.generators.versions.upsertGeneratorRelease({
     *         version: "version",
     *         createdAt: undefined,
     *         isYanked: undefined,
     *         changelogEntry: undefined,
     *         generatorId: FernRegistry.generators.GeneratorId("generatorId"),
     *         irVersion: 1,
     *         migration: undefined,
     *         customConfigSchema: undefined,
     *         tags: undefined
     *     })
     */
    public upsertGeneratorRelease(
        request: FernRegistry.generators.GeneratorReleaseRequest,
        requestOptions?: Versions.RequestOptions,
    ): core.HttpResponsePromise<core.APIResponse<void, FernRegistry.generators.versions.upsertGeneratorRelease.Error>> {
        return core.HttpResponsePromise.fromPromise(this.__upsertGeneratorRelease(request, requestOptions));
    }

    private async __upsertGeneratorRelease(
        request: FernRegistry.generators.GeneratorReleaseRequest,
        requestOptions?: Versions.RequestOptions,
    ): Promise<
        core.WithRawResponse<core.APIResponse<void, FernRegistry.generators.versions.upsertGeneratorRelease.Error>>
    > {
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernRegistryEnvironment.Prod,
                "/generators/versions",
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs:
                requestOptions?.timeoutInSeconds != null
                    ? requestOptions.timeoutInSeconds * 1000
                    : this._options?.timeoutInSeconds != null
                      ? this._options?.timeoutInSeconds * 1000
                      : undefined,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: undefined,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as FernRegistry.generators.versions.upsertGeneratorRelease.Error)?.error) {
                case "InvalidVersionError":
                    return {
                        data: {
                            ok: false,
                            error: _response.error
                                .body as FernRegistry.generators.versions.upsertGeneratorRelease.Error,
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: FernRegistry.generators.versions.upsertGeneratorRelease.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Get the specified generator version.
     *
     * @param {FernRegistry.generators.GeneratorId} generator
     * @param {string} version
     * @param {Versions.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.generators.versions.getGeneratorRelease(FernRegistry.generators.GeneratorId("generator"), "version")
     */
    public getGeneratorRelease(
        generator: FernRegistry.generators.GeneratorId,
        version: string,
        requestOptions?: Versions.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<
            FernRegistry.generators.GeneratorRelease,
            FernRegistry.generators.versions.getGeneratorRelease.Error
        >
    > {
        return core.HttpResponsePromise.fromPromise(this.__getGeneratorRelease(generator, version, requestOptions));
    }

    private async __getGeneratorRelease(
        generator: FernRegistry.generators.GeneratorId,
        version: string,
        requestOptions?: Versions.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                FernRegistry.generators.GeneratorRelease,
                FernRegistry.generators.versions.getGeneratorRelease.Error
            >
        >
    > {
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernRegistryEnvironment.Prod,
                `/generators/versions/${encodeURIComponent(generator)}/${encodeURIComponent(version)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs:
                requestOptions?.timeoutInSeconds != null
                    ? requestOptions.timeoutInSeconds * 1000
                    : this._options?.timeoutInSeconds != null
                      ? this._options?.timeoutInSeconds * 1000
                      : undefined,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: _response.body as FernRegistry.generators.GeneratorRelease,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as FernRegistry.generators.versions.getGeneratorRelease.Error)?.error) {
                case "GeneratorVersionNotFoundError":
                    return {
                        data: {
                            ok: false,
                            error: _response.error.body as FernRegistry.generators.versions.getGeneratorRelease.Error,
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: FernRegistry.generators.versions.getGeneratorRelease.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Get all generator versions for the specified generator.
     *
     * @param {FernRegistry.generators.GeneratorId} generator
     * @param {FernRegistry.generators.ListGeneratorReleasesRequest} request
     * @param {Versions.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.generators.versions.listGeneratorReleases(FernRegistry.generators.GeneratorId("generator"))
     */
    public listGeneratorReleases(
        generator: FernRegistry.generators.GeneratorId,
        request: FernRegistry.generators.ListGeneratorReleasesRequest = {},
        requestOptions?: Versions.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<
            FernRegistry.generators.ListGeneratorReleasesResponse,
            FernRegistry.generators.versions.listGeneratorReleases.Error
        >
    > {
        return core.HttpResponsePromise.fromPromise(this.__listGeneratorReleases(generator, request, requestOptions));
    }

    private async __listGeneratorReleases(
        generator: FernRegistry.generators.GeneratorId,
        request: FernRegistry.generators.ListGeneratorReleasesRequest = {},
        requestOptions?: Versions.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                FernRegistry.generators.ListGeneratorReleasesResponse,
                FernRegistry.generators.versions.listGeneratorReleases.Error
            >
        >
    > {
        const { page, pageSize } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (page != null) {
            _queryParams["page"] = page.toString();
        }

        if (pageSize != null) {
            _queryParams["pageSize"] = pageSize.toString();
        }

        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernRegistryEnvironment.Prod,
                `/generators/versions/${encodeURIComponent(generator)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs:
                requestOptions?.timeoutInSeconds != null
                    ? requestOptions.timeoutInSeconds * 1000
                    : this._options?.timeoutInSeconds != null
                      ? this._options?.timeoutInSeconds * 1000
                      : undefined,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: _response.body as FernRegistry.generators.ListGeneratorReleasesResponse,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        return {
            data: {
                ok: false,
                error: FernRegistry.generators.versions.listGeneratorReleases.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    protected async _getAuthorizationHeader(): Promise<string | undefined> {
        const bearer = await core.Supplier.get(this._options.token);
        if (bearer != null) {
            return `Bearer ${bearer}`;
        }

        return undefined;
    }
}
