/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as environments from "../../../../environments.js";
import * as core from "../../../../core/index.js";
import * as FernFai from "../../../index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as errors from "../../../../errors/index.js";

export declare namespace Chat {
    export interface Options {
        environment?: core.Supplier<environments.FernFaiEnvironment | string>;
        /** Specify a custom URL to connect the client to. */
        baseUrl?: core.Supplier<string>;
        token?: core.Supplier<core.BearerToken | undefined>;
        /** Additional headers to include in requests. */
        headers?: Record<string, string | core.Supplier<string | undefined> | undefined>;
    }

    export interface RequestOptions {
        /** The maximum time to wait for a response in seconds. */
        timeoutInSeconds?: number;
        /** The number of times to retry the request. Defaults to 2. */
        maxRetries?: number;
        /** A hook to abort the request. */
        abortSignal?: AbortSignal;
        /** Additional headers to include in the request. */
        headers?: Record<string, string | core.Supplier<string | undefined> | undefined>;
    }
}

/**
 * FAI Chat API
 */
export class Chat {
    protected readonly _options: Chat.Options;

    constructor(_options: Chat.Options = {}) {
        this._options = _options;
    }

    /**
     * Create a docs chat completion for a given domain
     *
     * @param {string} domain
     * @param {FernFai.ChatCompletionRequest} request
     * @param {Chat.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FernFai.BadRequestError}
     * @throws {@link FernFai.InternalError}
     *
     * @example
     *     await client.chat.chatCompletion("domain", {
     *         model: undefined,
     *         system_prompt: undefined,
     *         messages: [{
     *                 role: "role",
     *                 content: "content"
     *             }, {
     *                 role: "role",
     *                 content: "content"
     *             }]
     *     })
     */
    public chatCompletion(
        domain: string,
        request: FernFai.ChatCompletionRequest,
        requestOptions?: Chat.RequestOptions,
    ): core.HttpResponsePromise<FernFai.ChatCompletionResponse> {
        return core.HttpResponsePromise.fromPromise(this.__chatCompletion(domain, request, requestOptions));
    }

    private async __chatCompletion(
        domain: string,
        request: FernFai.ChatCompletionRequest,
        requestOptions?: Chat.RequestOptions,
    ): Promise<core.WithRawResponse<FernFai.ChatCompletionResponse>> {
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernFaiEnvironment.Prod,
                `/chat/${encodeURIComponent(domain)}`,
            ),
            method: "POST",
            headers: mergeHeaders(
                this._options?.headers,
                mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
                requestOptions?.headers,
            ),
            contentType: "application/json",
            requestType: "json",
            body: request,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return { data: _response.body as FernFai.ChatCompletionResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as any)?.["error"]) {
                case "BadRequestError":
                    throw new FernFai.BadRequestError(_response.error.body as string, _response.rawResponse);
                case "InternalError":
                    throw new FernFai.InternalError(_response.error.body as string, _response.rawResponse);
                default:
                    throw new errors.FernFaiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.FernFaiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.FernFaiTimeoutError("Timeout exceeded when calling POST /chat/{domain}.");
            case "unknown":
                throw new errors.FernFaiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    protected async _getAuthorizationHeader(): Promise<string | undefined> {
        const bearer = await core.Supplier.get(this._options.token);
        if (bearer != null) {
            return `Bearer ${bearer}`;
        }

        return undefined;
    }
}
