// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import * as environments from "../../../../environments.js";
import * as core from "../../../../core/index.js";
import * as FernRegistry from "../../../index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";

export declare namespace Snippets {
    export interface Options extends BaseClientOptions {}

    export interface RequestOptions extends BaseRequestOptions {}
}

export class Snippets {
    protected readonly _options: Snippets.Options;

    constructor(_options: Snippets.Options = {}) {
        this._options = _options;
    }

    /**
     * Get snippet by endpoint method and path
     *
     * @param {FernRegistry.GetSnippetRequest} request
     * @param {Snippets.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.snippets.get({
     *         endpoint: {
     *             method: "GET",
     *             path: FernRegistry.EndpointPathLiteral("/v1/search")
     *         }
     *     })
     */
    public get(
        request: FernRegistry.GetSnippetRequest,
        requestOptions?: Snippets.RequestOptions,
    ): core.HttpResponsePromise<core.APIResponse<FernRegistry.Snippet[], FernRegistry.snippets.get.Error>> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: FernRegistry.GetSnippetRequest,
        requestOptions?: Snippets.RequestOptions,
    ): Promise<core.WithRawResponse<core.APIResponse<FernRegistry.Snippet[], FernRegistry.snippets.get.Error>>> {
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernRegistryEnvironment.Prod,
                "/snippets",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs:
                requestOptions?.timeoutInSeconds != null
                    ? requestOptions.timeoutInSeconds * 1000
                    : this._options?.timeoutInSeconds != null
                      ? this._options?.timeoutInSeconds * 1000
                      : undefined,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: _response.body as FernRegistry.Snippet[],
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as FernRegistry.snippets.get.Error)?.error) {
                case "UnauthorizedError":
                case "UserNotInOrgError":
                case "UnavailableError":
                case "ApiIdRequiredError":
                case "OrgIdRequiredError":
                case "OrgIdAndApiIdNotFound":
                case "OrgIdNotFound":
                case "EndpointNotFound":
                case "SDKNotFound":
                    return {
                        data: {
                            ok: false,
                            error: _response.error.body as FernRegistry.snippets.get.Error,
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: FernRegistry.snippets.get.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * @param {FernRegistry.ListSnippetsRequest} request
     * @param {Snippets.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.snippets.load({
     *         page: 1,
     *         orgId: FernRegistry.OrgId("vellum"),
     *         apiId: FernRegistry.ApiId("vellum-ai"),
     *         sdks: [{
     *                 type: "python",
     *                 "package": "vellum-ai"
     *             }]
     *     })
     */
    public load(
        request: FernRegistry.ListSnippetsRequest = {},
        requestOptions?: Snippets.RequestOptions,
    ): core.HttpResponsePromise<core.APIResponse<FernRegistry.SnippetsPage, FernRegistry.snippets.load.Error>> {
        return core.HttpResponsePromise.fromPromise(this.__load(request, requestOptions));
    }

    private async __load(
        request: FernRegistry.ListSnippetsRequest = {},
        requestOptions?: Snippets.RequestOptions,
    ): Promise<core.WithRawResponse<core.APIResponse<FernRegistry.SnippetsPage, FernRegistry.snippets.load.Error>>> {
        const { page, ..._body } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (page != null) {
            _queryParams["page"] = page.toString();
        }

        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernRegistryEnvironment.Prod,
                "/snippets/load",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            requestType: "json",
            body: _body,
            timeoutMs:
                requestOptions?.timeoutInSeconds != null
                    ? requestOptions.timeoutInSeconds * 1000
                    : this._options?.timeoutInSeconds != null
                      ? this._options?.timeoutInSeconds * 1000
                      : undefined,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: _response.body as FernRegistry.SnippetsPage,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as FernRegistry.snippets.load.Error)?.error) {
                case "UnauthorizedError":
                case "UserNotInOrgError":
                case "UnavailableError":
                case "InvalidPageError":
                case "ApiIdRequiredError":
                case "OrgIdRequiredError":
                case "OrgIdAndApiIdNotFound":
                case "OrgIdNotFound":
                case "SDKNotFound":
                    return {
                        data: {
                            ok: false,
                            error: _response.error.body as FernRegistry.snippets.load.Error,
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: FernRegistry.snippets.load.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    protected async _getAuthorizationHeader(): Promise<string | undefined> {
        const bearer = await core.Supplier.get(this._options.token);
        if (bearer != null) {
            return `Bearer ${bearer}`;
        }

        return undefined;
    }
}
