// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import * as FernRegistry from "../../../index.js";

export declare namespace PdfExportClient {
    export interface Options extends BaseClientOptions {}

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PdfExportClient {
    protected readonly _options: PdfExportClient.Options;

    constructor(options: PdfExportClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Create a new PDF export task for a documentation site.
     *
     * @param {FernRegistry.pdfExport.CreatePdfExportTaskRequest} request
     * @param {PdfExportClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.pdfExport.createTask({
     *         orgId: FernRegistry.OrgId("orgId"),
     *         docsUrl: "docsUrl"
     *     })
     */
    public createTask(
        request: FernRegistry.pdfExport.CreatePdfExportTaskRequest,
        requestOptions?: PdfExportClient.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<FernRegistry.pdfExport.PdfExportTask, FernRegistry.pdfExport.createTask.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__createTask(request, requestOptions));
    }

    private async __createTask(
        request: FernRegistry.pdfExport.CreatePdfExportTaskRequest,
        requestOptions?: PdfExportClient.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<FernRegistry.pdfExport.PdfExportTask, FernRegistry.pdfExport.createTask.Error>
        >
    > {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernRegistryEnvironment.Prod,
                "/pdf-export/task",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs:
                requestOptions?.timeoutInSeconds != null
                    ? requestOptions.timeoutInSeconds * 1000
                    : this._options?.timeoutInSeconds != null
                      ? this._options?.timeoutInSeconds * 1000
                      : undefined,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: _response.body as FernRegistry.pdfExport.PdfExportTask,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as FernRegistry.pdfExport.createTask.Error)?.error) {
                case "UnauthorizedError":
                case "UserNotInOrgError":
                    return {
                        data: {
                            ok: false,
                            error: _response.error.body as FernRegistry.pdfExport.createTask.Error,
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: FernRegistry.pdfExport.createTask.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * List PDF export tasks for a documentation site.
     *
     * @param {FernRegistry.pdfExport.ListPdfExportTasksRequest} request
     * @param {PdfExportClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.pdfExport.listTasks({
     *         orgId: FernRegistry.OrgId("orgId"),
     *         docsUrl: "docsUrl"
     *     })
     */
    public listTasks(
        request: FernRegistry.pdfExport.ListPdfExportTasksRequest,
        requestOptions?: PdfExportClient.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<FernRegistry.pdfExport.ListPdfExportTasksResponse, FernRegistry.pdfExport.listTasks.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__listTasks(request, requestOptions));
    }

    private async __listTasks(
        request: FernRegistry.pdfExport.ListPdfExportTasksRequest,
        requestOptions?: PdfExportClient.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<FernRegistry.pdfExport.ListPdfExportTasksResponse, FernRegistry.pdfExport.listTasks.Error>
        >
    > {
        const { orgId, docsUrl, limit } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        _queryParams.orgId = orgId;
        _queryParams.docsUrl = docsUrl;
        if (limit != null) {
            _queryParams.limit = limit.toString();
        }

        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernRegistryEnvironment.Prod,
                "/pdf-export/tasks",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs:
                requestOptions?.timeoutInSeconds != null
                    ? requestOptions.timeoutInSeconds * 1000
                    : this._options?.timeoutInSeconds != null
                      ? this._options?.timeoutInSeconds * 1000
                      : undefined,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: _response.body as FernRegistry.pdfExport.ListPdfExportTasksResponse,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as FernRegistry.pdfExport.listTasks.Error)?.error) {
                case "UnauthorizedError":
                case "UserNotInOrgError":
                    return {
                        data: {
                            ok: false,
                            error: _response.error.body as FernRegistry.pdfExport.listTasks.Error,
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: FernRegistry.pdfExport.listTasks.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Get the status and details of a PDF export task.
     *
     * @param {FernRegistry.pdfExport.PdfExportTaskId} taskId
     * @param {PdfExportClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.pdfExport.getTask(FernRegistry.pdfExport.PdfExportTaskId("taskId"))
     */
    public getTask(
        taskId: FernRegistry.pdfExport.PdfExportTaskId,
        requestOptions?: PdfExportClient.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<FernRegistry.pdfExport.PdfExportTask, FernRegistry.pdfExport.getTask.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__getTask(taskId, requestOptions));
    }

    private async __getTask(
        taskId: FernRegistry.pdfExport.PdfExportTaskId,
        requestOptions?: PdfExportClient.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<FernRegistry.pdfExport.PdfExportTask, FernRegistry.pdfExport.getTask.Error>
        >
    > {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernRegistryEnvironment.Prod,
                `/pdf-export/task/${core.url.encodePathParam(taskId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs:
                requestOptions?.timeoutInSeconds != null
                    ? requestOptions.timeoutInSeconds * 1000
                    : this._options?.timeoutInSeconds != null
                      ? this._options?.timeoutInSeconds * 1000
                      : undefined,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: _response.body as FernRegistry.pdfExport.PdfExportTask,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as FernRegistry.pdfExport.getTask.Error)?.error) {
                case "UnauthorizedError":
                case "PdfExportTaskNotFoundError":
                    return {
                        data: {
                            ok: false,
                            error: _response.error.body as FernRegistry.pdfExport.getTask.Error,
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: FernRegistry.pdfExport.getTask.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Internal endpoint for the PDF export Lambda to update task status.
     * This endpoint should not be called by external clients.
     *
     * @param {FernRegistry.pdfExport.PdfExportTaskId} taskId
     * @param {FernRegistry.pdfExport.UpdatePdfExportTaskStatusRequest} request
     * @param {PdfExportClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.pdfExport.updateTask(FernRegistry.pdfExport.PdfExportTaskId("taskId"), {
     *         status: "PENDING"
     *     })
     */
    public updateTask(
        taskId: FernRegistry.pdfExport.PdfExportTaskId,
        request: FernRegistry.pdfExport.UpdatePdfExportTaskStatusRequest,
        requestOptions?: PdfExportClient.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<FernRegistry.pdfExport.PdfExportTask, FernRegistry.pdfExport.updateTask.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__updateTask(taskId, request, requestOptions));
    }

    private async __updateTask(
        taskId: FernRegistry.pdfExport.PdfExportTaskId,
        request: FernRegistry.pdfExport.UpdatePdfExportTaskStatusRequest,
        requestOptions?: PdfExportClient.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<FernRegistry.pdfExport.PdfExportTask, FernRegistry.pdfExport.updateTask.Error>
        >
    > {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernRegistryEnvironment.Prod,
                `/pdf-export/task/${core.url.encodePathParam(taskId)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs:
                requestOptions?.timeoutInSeconds != null
                    ? requestOptions.timeoutInSeconds * 1000
                    : this._options?.timeoutInSeconds != null
                      ? this._options?.timeoutInSeconds * 1000
                      : undefined,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: _response.body as FernRegistry.pdfExport.PdfExportTask,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as FernRegistry.pdfExport.updateTask.Error)?.error) {
                case "PdfExportTaskNotFoundError":
                    return {
                        data: {
                            ok: false,
                            error: _response.error.body as FernRegistry.pdfExport.updateTask.Error,
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: FernRegistry.pdfExport.updateTask.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Get a presigned URL to download a completed PDF export.
     *
     * @param {FernRegistry.pdfExport.PdfExportTaskId} taskId
     * @param {PdfExportClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.pdfExport.getDownloadUrl(FernRegistry.pdfExport.PdfExportTaskId("taskId"))
     */
    public getDownloadUrl(
        taskId: FernRegistry.pdfExport.PdfExportTaskId,
        requestOptions?: PdfExportClient.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<FernRegistry.pdfExport.PdfExportDownloadResponse, FernRegistry.pdfExport.getDownloadUrl.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__getDownloadUrl(taskId, requestOptions));
    }

    private async __getDownloadUrl(
        taskId: FernRegistry.pdfExport.PdfExportTaskId,
        requestOptions?: PdfExportClient.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                FernRegistry.pdfExport.PdfExportDownloadResponse,
                FernRegistry.pdfExport.getDownloadUrl.Error
            >
        >
    > {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernRegistryEnvironment.Prod,
                `/pdf-export/task/${core.url.encodePathParam(taskId)}/download-url`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs:
                requestOptions?.timeoutInSeconds != null
                    ? requestOptions.timeoutInSeconds * 1000
                    : this._options?.timeoutInSeconds != null
                      ? this._options?.timeoutInSeconds * 1000
                      : undefined,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: _response.body as FernRegistry.pdfExport.PdfExportDownloadResponse,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as FernRegistry.pdfExport.getDownloadUrl.Error)?.error) {
                case "UnauthorizedError":
                case "PdfExportTaskNotFoundError":
                case "PdfExportNotCompletedError":
                    return {
                        data: {
                            ok: false,
                            error: _response.error.body as FernRegistry.pdfExport.getDownloadUrl.Error,
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: FernRegistry.pdfExport.getDownloadUrl.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    protected async _getAuthorizationHeader(): Promise<string | undefined> {
        const bearer = await core.Supplier.get(this._options.token);
        if (bearer != null) {
            return `Bearer ${bearer}`;
        }

        return undefined;
    }
}
